Test/CSV to Postgres Flow.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": false,
    "createdTimestamp": 1761325471943,
    "description": "",
    "identifier": "Test",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d",
      "params": {
        "rel": "self"
      }
    },
    "name": "Test",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "e53bab50-b433-4525-ae62-3d2def61788d",
    "bucketName": "Test",
    "createdTimestamp": 1769147538875,
    "description": "",
    "identifier": "CSV to Postgres Flow",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/45a8259c-7cd8-49b2-88d9-1f3bb434a33f",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1769846754132,
    "name": "CSV to Postgres Flow",
    "type": "Flow",
    "versionCount": 2
  },
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "7981ba95-30fb-3ce4-8ebe-7829e7eef930",
          "instanceIdentifier": "236e2d3d-feb1-300a-0da8-1141fc4dbb39",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "0274d3ff-9357-3ef6-9baa-2490906a33c6",
        "instanceIdentifier": "c77eb2eb-e4a2-3863-b265-83c1a69ef7b0",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "2ea8fd0c-7d62-3afc-bd93-628967fcac53",
          "instanceIdentifier": "aef25fb7-c47f-3435-cb01-349686d53382",
          "name": "GetFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "ae59d0c0-ad58-3138-a99e-d94020a6d0e6",
          "instanceIdentifier": "b1656d57-481f-3dde-d5bf-32d630b5762e",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "30678c87-f1a3-303f-bbba-b554c2e574e7",
        "instanceIdentifier": "27158754-fb28-3521-d04a-224cfe31564c",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "4eac4805-90aa-3013-965b-84a58ea6bd6d",
          "instanceIdentifier": "1bb05887-66dc-3af1-d05e-e03fafb69b83",
          "name": "PutDatabaseRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "69be8723-7290-3873-80de-e288b4637815",
          "instanceIdentifier": "1cc1784d-508e-3ff8-2de1-54a76343c769",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "e51ca174-550a-397b-a409-3118fcc3509f",
        "instanceIdentifier": "f0e9eda3-f7bf-30fb-00a6-f3392e45cafc",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "4eac4805-90aa-3013-965b-84a58ea6bd6d",
          "instanceIdentifier": "1bb05887-66dc-3af1-d05e-e03fafb69b83",
          "name": "PutDatabaseRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [
          {
            "x": 592,
            "y": 632
          }
        ],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "ae59d0c0-ad58-3138-a99e-d94020a6d0e6",
          "instanceIdentifier": "b1656d57-481f-3dde-d5bf-32d630b5762e",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "dd5197cc-ffcd-36c4-8f0e-1222716921f6",
        "instanceIdentifier": "5a5c5134-b403-3008-11ee-7cf7692a9761",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "7981ba95-30fb-3ce4-8ebe-7829e7eef930",
          "instanceIdentifier": "236e2d3d-feb1-300a-0da8-1141fc4dbb39",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "4eac4805-90aa-3013-965b-84a58ea6bd6d",
          "instanceIdentifier": "1bb05887-66dc-3af1-d05e-e03fafb69b83",
          "name": "PutDatabaseRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "00554071-974e-3e8b-a45a-45872bbbfa3d",
        "instanceIdentifier": "9d4ac72e-a8e7-30d6-2c53-0571fc4ece44",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
          "id": "7981ba95-30fb-3ce4-8ebe-7829e7eef930",
          "instanceIdentifier": "236e2d3d-feb1-300a-0da8-1141fc4dbb39",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "ab4bc138-cc91-3ac2-b7a4-cf0e4f50816a",
        "instanceIdentifier": "b070f9de-d063-3a36-653e-fada3752c16a",
        "name": "JsonTreeReader",
        "properties": {
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-access-strategy": "infer-schema",
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "schema-application-strategy": {
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "name": "schema-application-strategy",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "schema-inference-cache": {
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "name": "schema-inference-cache",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "starting-field-strategy": {
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "name": "starting-field-strategy",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "starting-field-name": {
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "name": "starting-field-name",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Allow Comments": {
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "name": "Allow Comments",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonTreeReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "6c72ff8a-bbe9-3687-b7f4-f67659debb28",
        "instanceIdentifier": "fe17d094-8a22-35da-829a-cd9a1ae8bd46",
        "name": "JsonRecordSetWriter",
        "properties": {
          "Allow Scientific Notation": "false",
          "compression-level": "1",
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Allow Scientific Notation": {
            "displayName": "Allow Scientific Notation",
            "identifiesControllerService": false,
            "name": "Allow Scientific Notation",
            "sensitive": false
          },
          "compression-level": {
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "name": "compression-level",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Pretty Print JSON": {
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "name": "Pretty Print JSON",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "suppress-nulls": {
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "name": "suppress-nulls",
            "sensitive": false
          },
          "output-grouping": {
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "name": "output-grouping",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "297aa5f7-42e4-3d2b-9c32-e43e68981ba9",
        "instanceIdentifier": "38143457-81a2-31cd-0900-19675dca7012",
        "name": "CSVReader",
        "properties": {
          "ignore-csv-header": "false",
          "Trim double quote": "true",
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Skip Header Line": "false",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "csv-reader-csv-parser": "commons-csv",
          "schema-access-strategy": "infer-schema",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "name": "ignore-csv-header",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Trim double quote": {
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "name": "Trim double quote",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "name": "csvutils-allow-duplicate-header-names",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Skip Header Line": {
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "name": "Skip Header Line",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "name": "csv-reader-csv-parser",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-dbcp-service-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.dbcp.DBCPService"
          }
        ],
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "26dd8569-76ca-3e1b-888c-0aff6258b9c8",
        "instanceIdentifier": "86d16cd8-d030-3707-80ee-7149c0a2cc07",
        "name": "DBCPConnectionPool",
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "#{JDBCDriverClassName}",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Database Connection URL": "#{postgresurl}",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "#{JDBCUser}",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "#{JDBCDriverLocation}",
          "dbcp-max-idle-conns": "8",
          "Password": "#{JDBCPassword}"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "name": "kerberos-password",
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-min-idle-conns",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Driver Class Name": {
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "name": "Database Driver Class Name",
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-min-evictable-idle-time",
            "sensitive": false
          },
          "kerberos-principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "kerberos-principal",
            "sensitive": false
          },
          "Max Total Connections": {
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "name": "Max Total Connections",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "name": "dbcp-max-conn-lifetime",
            "sensitive": false
          },
          "Validation-query": {
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "name": "Validation-query",
            "sensitive": false
          },
          "Database Connection URL": {
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "name": "Database Connection URL",
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "name": "dbcp-time-between-eviction-runs",
            "sensitive": false
          },
          "Database User": {
            "displayName": "Database User",
            "identifiesControllerService": false,
            "name": "Database User",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-soft-min-evictable-idle-time",
            "sensitive": false
          },
          "database-driver-locations": {
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "name": "database-driver-locations",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "URL",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "dbcp-max-idle-conns": {
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-max-idle-conns",
            "sensitive": false
          },
          "Password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "Password",
            "sensitive": true
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "850f24d8-be0a-3f8c-bec9-470083d94158",
        "instanceIdentifier": "8a5a2b81-e9d6-3bb9-d275-f5e4cd20821f",
        "name": "CSVRecordSetWriter",
        "properties": {
          "CSV Format": "custom",
          "Quote Character": "\"",
          "Include Header Line": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Schema Write Strategy": "no-schema",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}",
          "Quote Mode": "MINIMAL",
          "Include Trailing Delimiter": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "Include Header Line": {
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "name": "Include Header Line",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Quote Mode": {
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "name": "Quote Mode",
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "name": "Include Trailing Delimiter",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [],
    "identifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
    "inputPorts": [],
    "instanceIdentifier": "100e52ce-019c-1000-2b22-40837b749ad8",
    "labels": [],
    "logFileSuffix": "",
    "name": "CSV to PostgresSql Flow",
    "outputPorts": [],
    "parameterContextName": "CSVtoPostgres",
    "position": {
      "x": -688,
      "y": 688
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "ae59d0c0-ad58-3138-a99e-d94020a6d0e6",
        "instanceIdentifier": "b1656d57-481f-3dde-d5bf-32d630b5762e",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1112,
          "y": 568
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "69be8723-7290-3873-80de-e288b4637815",
        "instanceIdentifier": "1cc1784d-508e-3ff8-2de1-54a76343c769",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1776,
          "y": 344
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "2ea8fd0c-7d62-3afc-bd93-628967fcac53",
        "instanceIdentifier": "aef25fb7-c47f-3435-cb01-349686d53382",
        "maxBackoffPeriod": "10 mins",
        "name": "GetFile",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 416,
          "y": 72
        },
        "properties": {
          "Keep Source File": "true",
          "Minimum File Age": "0 sec",
          "Polling Interval": "0 sec",
          "Input Directory": "#{InputDirectory}",
          "Batch Size": "10",
          "Minimum File Size": "0 B",
          "Ignore Hidden Files": "true",
          "Recurse Subdirectories": "true",
          "File Filter": "[^\\.].*"
        },
        "propertyDescriptors": {
          "Keep Source File": {
            "displayName": "Keep Source File",
            "identifiesControllerService": false,
            "name": "Keep Source File",
            "sensitive": false
          },
          "Minimum File Age": {
            "displayName": "Minimum File Age",
            "identifiesControllerService": false,
            "name": "Minimum File Age",
            "sensitive": false
          },
          "Polling Interval": {
            "displayName": "Polling Interval",
            "identifiesControllerService": false,
            "name": "Polling Interval",
            "sensitive": false
          },
          "Input Directory": {
            "displayName": "Input Directory",
            "identifiesControllerService": false,
            "name": "Input Directory",
            "sensitive": false
          },
          "Maximum File Age": {
            "displayName": "Maximum File Age",
            "identifiesControllerService": false,
            "name": "Maximum File Age",
            "sensitive": false
          },
          "Batch Size": {
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "name": "Batch Size",
            "sensitive": false
          },
          "Maximum File Size": {
            "displayName": "Maximum File Size",
            "identifiesControllerService": false,
            "name": "Maximum File Size",
            "sensitive": false
          },
          "Minimum File Size": {
            "displayName": "Minimum File Size",
            "identifiesControllerService": false,
            "name": "Minimum File Size",
            "sensitive": false
          },
          "Ignore Hidden Files": {
            "displayName": "Ignore Hidden Files",
            "identifiesControllerService": false,
            "name": "Ignore Hidden Files",
            "sensitive": false
          },
          "Recurse Subdirectories": {
            "displayName": "Recurse Subdirectories",
            "identifiesControllerService": false,
            "name": "Recurse Subdirectories",
            "sensitive": false
          },
          "File Filter": {
            "displayName": "File Filter",
            "identifiesControllerService": false,
            "name": "File Filter",
            "sensitive": false
          },
          "Path Filter": {
            "displayName": "Path Filter",
            "identifiesControllerService": false,
            "name": "Path Filter",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.GetFile",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "7981ba95-30fb-3ce4-8ebe-7829e7eef930",
        "instanceIdentifier": "236e2d3d-feb1-300a-0da8-1141fc4dbb39",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 416,
          "y": 336
        },
        "properties": {
          "record-writer": "6c72ff8a-bbe9-3687-b7f4-f67659debb28",
          "record-reader": "297aa5f7-42e4-3d2b-9c32-e43e68981ba9",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "retry"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "1cc55c7d-0d08-3f74-8f79-6b3c6cad9f27",
        "identifier": "4eac4805-90aa-3013-965b-84a58ea6bd6d",
        "instanceIdentifier": "1bb05887-66dc-3af1-d05e-e03fafb69b83",
        "maxBackoffPeriod": "10 mins",
        "name": "PutDatabaseRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1112,
          "y": 344
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "table-schema-cache-size": "100",
          "put-db-record-quoted-table-identifiers": "false",
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "26dd8569-76ca-3e1b-888c-0aff6258b9c8",
          "put-db-record-query-timeout": "0 seconds",
          "rollback-on-failure": "false",
          "put-db-record-statement-type": "INSERT",
          "put-db-record-binary-format": "UTF-8",
          "db-type": "Generic",
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-table-name": "#{JDBCTableName}",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "put-db-record-record-reader": "ab4bc138-cc91-3ac2-b7a4-cf0e4f50816a",
          "database-session-autocommit": "false"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "name": "put-db-record-allow-multiple-statements",
            "sensitive": false
          },
          "table-schema-cache-size": {
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "name": "table-schema-cache-size",
            "sensitive": false
          },
          "put-db-record-schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "put-db-record-schema-name",
            "sensitive": false
          },
          "put-db-record-field-containing-sql": {
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "name": "put-db-record-field-containing-sql",
            "sensitive": false
          },
          "put-db-record-quoted-table-identifiers": {
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "name": "put-db-record-quoted-table-identifiers",
            "sensitive": false
          },
          "Statement Type Record Path": {
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "name": "Statement Type Record Path",
            "sensitive": false
          },
          "put-db-record-unmatched-column-behavior": {
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "name": "put-db-record-unmatched-column-behavior",
            "sensitive": false
          },
          "put-db-record-catalog-name": {
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "name": "put-db-record-catalog-name",
            "sensitive": false
          },
          "put-db-record-translate-field-names": {
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "name": "put-db-record-translate-field-names",
            "sensitive": false
          },
          "put-db-record-dcbp-service": {
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "name": "put-db-record-dcbp-service",
            "sensitive": false
          },
          "put-db-record-query-timeout": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "put-db-record-query-timeout",
            "sensitive": false
          },
          "rollback-on-failure": {
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "name": "rollback-on-failure",
            "sensitive": false
          },
          "put-db-record-statement-type": {
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "name": "put-db-record-statement-type",
            "sensitive": false
          },
          "put-db-record-binary-format": {
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "name": "put-db-record-binary-format",
            "sensitive": false
          },
          "db-type": {
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "name": "db-type",
            "sensitive": false
          },
          "put-db-record-update-keys": {
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "name": "put-db-record-update-keys",
            "sensitive": false
          },
          "put-db-record-quoted-identifiers": {
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "name": "put-db-record-quoted-identifiers",
            "sensitive": false
          },
          "put-db-record-table-name": {
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "name": "put-db-record-table-name",
            "sensitive": false
          },
          "put-db-record-unmatched-field-behavior": {
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "name": "put-db-record-unmatched-field-behavior",
            "sensitive": false
          },
          "put-db-record-max-batch-size": {
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "name": "put-db-record-max-batch-size",
            "sensitive": false
          },
          "put-db-record-record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "put-db-record-record-reader",
            "sensitive": false
          },
          "Data Record Path": {
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "name": "Data Record Path",
            "sensitive": false
          },
          "database-session-autocommit": {
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "name": "database-session-autocommit",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {
    "CSVtoPostgres": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "CSVtoPostgres",
      "parameters": [
        {
          "description": "",
          "name": "InputDirectory",
          "provided": false,
          "sensitive": false,
          "value": "/opt/postgres/csvfiles"
        },
        {
          "description": "",
          "name": "JDBCPassword",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "JDBCDriverClassName",
          "provided": false,
          "sensitive": false,
          "value": "org.postgresql.Driver"
        },
        {
          "description": "",
          "name": "JDBCUser",
          "provided": false,
          "sensitive": false,
          "value": "postgres"
        },
        {
          "description": "",
          "name": "postgresurl",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:postgresql://172.31.16.85:5432/nifi_test"
        },
        {
          "description": "",
          "name": "JDBCTableName",
          "provided": false,
          "sensitive": false,
          "value": "employees"
        },
        {
          "description": "",
          "name": "JDBCConnectionUrl",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:postgresql:/ec2-3-108-212-229.ap-south 1.compute.amazonaws.com:5432/nifi_test?sslmode=require"
        },
        {
          "description": "",
          "name": "JDBCDriverLocation",
          "provided": false,
          "sensitive": false,
          "value": "/opt/postgres/postgresql-42.7.3.jar"
        }
      ]
    }
  },
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "Test",
    "comments": "JDBC Url Updated (Working Version)",
    "flowIdentifier": "CSV to Postgres Flow",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/45a8259c-7cd8-49b2-88d9-1f3bb434a33f/versions/2",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1769846753990,
    "version": 2
  }
}