Test/Generate_And_Convert_JSON_To_CSV.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": false,
    "createdTimestamp": 1761325471943,
    "description": "",
    "identifier": "Test",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d",
      "params": {
        "rel": "self"
      }
    },
    "name": "Test",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "e53bab50-b433-4525-ae62-3d2def61788d",
    "bucketName": "Test",
    "createdTimestamp": 1767880864579,
    "description": "",
    "identifier": "Generate_And_Convert_JSON_To_CSV",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/c136e401-e87b-4709-83e8-6711912b2ff0",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1767880940549,
    "name": "Generate_And_Convert_JSON_To_CSV",
    "type": "Flow",
    "versionCount": 2
  },
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "faf511b0-f021-3b1d-9771-424b569d42e1",
          "instanceIdentifier": "9de8529e-019b-1000-9c3c-ced5871dd786",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "4c16f5e8-5a5c-3547-ae12-08c8243ea1f8",
        "instanceIdentifier": "9de865aa-019b-1000-8d19-152010a01640",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "304a6355-76ac-33cd-8bcf-bcac5545c508",
          "instanceIdentifier": "51625c65-165f-36ed-e74d-fd1aa2dfa5a3",
          "name": "PutFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "304a6355-76ac-33cd-8bcf-bcac5545c508",
          "instanceIdentifier": "51625c65-165f-36ed-e74d-fd1aa2dfa5a3",
          "name": "PutFile",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "07a143b5-1dcf-339c-bac0-2e6354ddf4d2",
        "instanceIdentifier": "92bc073d-14e4-3244-8fa5-b811b86a4d35",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "1f55f140-af6d-3c5c-a7f4-2c0cb1ead871",
          "instanceIdentifier": "2bc6c893-cfeb-3414-79b7-f87553bd5b47",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "73c1d331-ded3-37ea-a33e-a7c9aaea57a7",
          "instanceIdentifier": "cf3eb270-6840-3616-adc1-6991cbba8a0e",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "f84e3951-2aa9-3895-9554-90398bd17abf",
        "instanceIdentifier": "cf763e27-3f21-3d38-b3e5-00ee0eb15f2b",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "304a6355-76ac-33cd-8bcf-bcac5545c508",
          "instanceIdentifier": "51625c65-165f-36ed-e74d-fd1aa2dfa5a3",
          "name": "PutFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "e3bd8e52-1fba-3512-988f-36891575d6fc",
          "instanceIdentifier": "d2bc31ad-1766-3c18-81b3-ec4c815c2654",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "37a8cb62-e9eb-33f5-b9f0-887b108c0c4d",
        "instanceIdentifier": "f3dafbf7-34bb-388a-1425-bfd465563f40",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "304a6355-76ac-33cd-8bcf-bcac5545c508",
          "instanceIdentifier": "51625c65-165f-36ed-e74d-fd1aa2dfa5a3",
          "name": "PutFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "3e9fbdeb-21de-33a1-989a-0cb931c835f5",
          "instanceIdentifier": "bc76e271-1589-3f81-6f3e-0de57a014a71",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "f31a393e-c1d9-37d6-a963-1464193bc8fc",
        "instanceIdentifier": "c1545801-8297-399a-647c-b1bc5d97e8e0",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "1f55f140-af6d-3c5c-a7f4-2c0cb1ead871",
          "instanceIdentifier": "2bc6c893-cfeb-3414-79b7-f87553bd5b47",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "1f55f140-af6d-3c5c-a7f4-2c0cb1ead871",
          "instanceIdentifier": "2bc6c893-cfeb-3414-79b7-f87553bd5b47",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "ef11c3ec-ad60-3f67-b18c-1f6e20611611",
        "instanceIdentifier": "8d3f03c3-94e0-3c18-ef35-06ddc4886de4",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "a2eae00e-fce3-3603-8090-d757f55b03a3",
          "id": "45847813-19af-3091-8126-b0f55261fb22",
          "instanceIdentifier": "b8f9f098-50ac-337a-2045-842388c12c7e",
          "name": "Generate JSON Data",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "c43e7338-d9d9-3727-ad01-321e3af22b8b",
        "instanceIdentifier": "040a64bd-7d06-39eb-8bcf-aa1bc76a63a8",
        "name": "JsonTreeReader",
        "properties": {
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-access-strategy": "infer-schema",
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "schema-application-strategy": {
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "name": "schema-application-strategy",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "schema-inference-cache": {
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "name": "schema-inference-cache",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "starting-field-strategy": {
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "name": "starting-field-strategy",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "starting-field-name": {
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "name": "starting-field-name",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Allow Comments": {
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "name": "Allow Comments",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonTreeReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "5177bdf5-56bf-31ae-9c76-5eae5ec4049d",
        "instanceIdentifier": "af419c14-709e-3b22-042e-5f5be3b473cd",
        "name": "CSVRecordSetWriter",
        "properties": {
          "CSV Format": "custom",
          "Quote Character": "\"",
          "Include Header Line": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Schema Write Strategy": "no-schema",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}",
          "Quote Mode": "MINIMAL",
          "Include Trailing Delimiter": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "Include Header Line": {
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "name": "Include Header Line",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Quote Mode": {
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "name": "Quote Mode",
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "name": "Include Trailing Delimiter",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "faf511b0-f021-3b1d-9771-424b569d42e1",
        "instanceIdentifier": "9de8529e-019b-1000-9c3c-ced5871dd786",
        "position": {
          "x": -3467.3087003904366,
          "y": -501.4468077682608
        }
      }
    ],
    "identifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
    "inputPorts": [],
    "instanceIdentifier": "c70d32de-9de3-1b59-eb18-49090e88bec9",
    "labels": [],
    "name": "Generate_And_Convert_JSON_To_CSV",
    "outputPorts": [],
    "parameterContextName": "Generate_And_Convert_JSON_To_CSV_Flow",
    "position": {
      "x": -2336,
      "y": 104
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "73c1d331-ded3-37ea-a33e-a7c9aaea57a7",
        "instanceIdentifier": "cf3eb270-6840-3616-adc1-6991cbba8a0e",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -4008,
          "y": -536
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "304a6355-76ac-33cd-8bcf-bcac5545c508",
        "instanceIdentifier": "51625c65-165f-36ed-e74d-fd1aa2dfa5a3",
        "maxBackoffPeriod": "10 mins",
        "name": "PutFile",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -4008,
          "y": -768
        },
        "properties": {
          "Create Missing Directories": "true",
          "Directory": "#{DestinationDirectory}",
          "Conflict Resolution Strategy": "fail"
        },
        "propertyDescriptors": {
          "Group": {
            "displayName": "Group",
            "identifiesControllerService": false,
            "name": "Group",
            "sensitive": false
          },
          "Owner": {
            "displayName": "Owner",
            "identifiesControllerService": false,
            "name": "Owner",
            "sensitive": false
          },
          "Create Missing Directories": {
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "name": "Create Missing Directories",
            "sensitive": false
          },
          "Permissions": {
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "name": "Permissions",
            "sensitive": false
          },
          "Maximum File Count": {
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "name": "Maximum File Count",
            "sensitive": false
          },
          "Last Modified Time": {
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "name": "Last Modified Time",
            "sensitive": false
          },
          "Directory": {
            "displayName": "Directory",
            "identifiesControllerService": false,
            "name": "Directory",
            "sensitive": false
          },
          "Conflict Resolution Strategy": {
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "name": "Conflict Resolution Strategy",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "1f55f140-af6d-3c5c-a7f4-2c0cb1ead871",
        "instanceIdentifier": "2bc6c893-cfeb-3414-79b7-f87553bd5b47",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -4608,
          "y": -768
        },
        "properties": {
          "record-writer": "5177bdf5-56bf-31ae-9c76-5eae5ec4049d",
          "record-reader": "c43e7338-d9d9-3727-ad01-321e3af22b8b",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "45847813-19af-3091-8126-b0f55261fb22",
        "instanceIdentifier": "b8f9f098-50ac-337a-2045-842388c12c7e",
        "maxBackoffPeriod": "10 mins",
        "name": "Generate JSON Data",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -5216,
          "y": -768
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "generate-ff-custom-text": "#{JsonData}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "File Size": {
            "displayName": "File Size",
            "identifiesControllerService": false,
            "name": "File Size",
            "sensitive": false
          },
          "mime-type": {
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "name": "mime-type",
            "sensitive": false
          },
          "generate-ff-custom-text": {
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "name": "generate-ff-custom-text",
            "sensitive": false
          },
          "Batch Size": {
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "name": "Batch Size",
            "sensitive": false
          },
          "Unique FlowFiles": {
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "name": "Unique FlowFiles",
            "sensitive": false
          },
          "Data Format": {
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "name": "Data Format",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "e3bd8e52-1fba-3512-988f-36891575d6fc",
        "instanceIdentifier": "d2bc31ad-1766-3c18-81b3-ec4c815c2654",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -3400,
          "y": -768
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "a2eae00e-fce3-3603-8090-d757f55b03a3",
        "identifier": "3e9fbdeb-21de-33a1-989a-0cb931c835f5",
        "instanceIdentifier": "bc76e271-1589-3f81-6f3e-0de57a014a71",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -4608,
          "y": -528
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {
    "Generate_And_Convert_JSON_To_CSV_Flow": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "Generate_And_Convert_JSON_To_CSV_Flow",
      "parameters": [
        {
          "description": "",
          "name": "JsonData",
          "provided": false,
          "sensitive": false,
          "value": "[\n  {\"id\":1, \"name\":\"Ankit\", \"age\":32},\n  {\"id\":2, \"name\":\"Divya\", \"age\":41}\n]"
        },
        {
          "description": "",
          "name": "DestinationDirectory",
          "provided": false,
          "sensitive": false,
          "value": "/opt"
        }
      ]
    }
  },
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "Test",
    "comments": "",
    "flowIdentifier": "Generate_And_Convert_JSON_To_CSV",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/c136e401-e87b-4709-83e8-6711912b2ff0/versions/1",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1767880864588,
    "version": 1
  }
}