Test/NewSensor.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": false,
    "createdTimestamp": 1761325471943,
    "description": "",
    "identifier": "Test",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d",
      "params": {
        "rel": "self"
      }
    },
    "name": "Test",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "e53bab50-b433-4525-ae62-3d2def61788d",
    "bucketName": "Test",
    "createdTimestamp": 1761325769319,
    "description": "",
    "identifier": "NewSensor",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/25b94286-15e1-475a-9593-c8a16851cce9",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1761325769405,
    "name": "NewSensor",
    "type": "Flow",
    "versionCount": 1
  },
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "ef2513eb-3aa0-3232-9f40-27e4dd2f09a4",
          "instanceIdentifier": "45947a10-875a-3d14-7182-0aed39c4695c",
          "name": "ConvertAvroToJSON",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "1d69d229-58cf-32f5-84f2-ccd00bdcb0b6",
        "instanceIdentifier": "436489fb-fd67-31c1-a460-1201fddb371d",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "a8723437-e108-3ab7-90e4-6f67cfedceab",
          "instanceIdentifier": "ff070589-734e-3be8-cf2e-4c728ecdec77",
          "name": "Fetch Data from customer",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
          "id": "64631b43-97ff-35d4-a42b-ffe2140ce5ee",
          "instanceIdentifier": "f271f06c-44d4-376e-3a83-ae9d1d24f3f0",
          "name": "IN",
          "type": "INPUT_PORT"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "2f776642-f141-333c-a989-85b39ab4b7f4",
        "instanceIdentifier": "874083de-ac34-3c9f-7044-0aaf5c679066",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "c02d93ba-b2cf-3d9d-b48c-a9a8268c17ab",
          "instanceIdentifier": "f9eb986f-a853-3643-cb66-a7396a85d012",
          "name": "Fetch Data from Orders table",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "dcadaf66-7bb2-3ea2-9737-8d0ff1c28865",
          "instanceIdentifier": "6f887cb1-7a4d-3743-07ab-67e0298df1f4",
          "name": "EvaluateJsonPath",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "e7d7b05a-8e5e-32f1-9f08-c57264ba8e13",
        "instanceIdentifier": "b2e4c8e2-436d-343f-8324-fb2f5edef7d4",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "split"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "b76a5c62-160c-3e87-b9e6-b2722a52e36c",
          "instanceIdentifier": "e6e273bb-27d2-3dc5-a651-85e0546a1b20",
          "name": "SplitJson",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "c02d93ba-b2cf-3d9d-b48c-a9a8268c17ab",
          "instanceIdentifier": "f9eb986f-a853-3643-cb66-a7396a85d012",
          "name": "Fetch Data from Orders table",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "e2d4bef6-1471-3760-ba40-cfba765b97ff",
        "instanceIdentifier": "82369418-efac-3e3b-6ef6-05ad0a195e91",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "matched"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "dcadaf66-7bb2-3ea2-9737-8d0ff1c28865",
          "instanceIdentifier": "6f887cb1-7a4d-3743-07ab-67e0298df1f4",
          "name": "EvaluateJsonPath",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "008762a6-3009-3613-bd7f-b941930beddd",
          "instanceIdentifier": "48970f8a-6a5d-3fe5-1374-59f214dff181",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "25e6a392-7820-36c4-8b13-68bfe5ee5f76",
        "instanceIdentifier": "fa61ef39-1de1-3fc6-4aae-4d3679e6d533",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "a8723437-e108-3ab7-90e4-6f67cfedceab",
          "instanceIdentifier": "ff070589-734e-3be8-cf2e-4c728ecdec77",
          "name": "Fetch Data from customer",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "b76a5c62-160c-3e87-b9e6-b2722a52e36c",
          "instanceIdentifier": "e6e273bb-27d2-3dc5-a651-85e0546a1b20",
          "name": "SplitJson",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "00f7d53f-ea9b-35e2-bca7-6dae2c7fa63e",
        "instanceIdentifier": "8617be7f-3c06-32e3-b1a4-6557f5b62cc8",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "ef2513eb-3aa0-3232-9f40-27e4dd2f09a4",
          "instanceIdentifier": "45947a10-875a-3d14-7182-0aed39c4695c",
          "name": "ConvertAvroToJSON",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "008762a6-3009-3613-bd7f-b941930beddd",
          "instanceIdentifier": "48970f8a-6a5d-3fe5-1374-59f214dff181",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "c8c37af3-cbd0-3bd3-96d4-c0376c6e7e34",
        "instanceIdentifier": "67fff34e-3649-39f1-32b3-5f91884a8d2f",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "ef2513eb-3aa0-3232-9f40-27e4dd2f09a4",
          "instanceIdentifier": "45947a10-875a-3d14-7182-0aed39c4695c",
          "name": "ConvertAvroToJSON",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "ddb37e04-bbc8-3cca-8cf1-32fb70bd30c0",
          "instanceIdentifier": "604945b0-59c9-3c6e-87c1-aeeeb43665ad",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "e569764f-4e4a-3b63-a319-58757110b807",
        "instanceIdentifier": "32e83d85-aa39-3db2-ff7b-e95ce2bfe02d",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
          "id": "c02d93ba-b2cf-3d9d-b48c-a9a8268c17ab",
          "instanceIdentifier": "f9eb986f-a853-3643-cb66-a7396a85d012",
          "name": "Fetch Data from Orders table",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "95786ea1-c8d6-3e5f-959f-701a7d56d4d8",
        "instanceIdentifier": "59a07f73-db26-3178-dcd2-f44588656e15",
        "name": "CSVReader",
        "properties": {
          "ignore-csv-header": "false",
          "Trim double quote": "true",
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Skip Header Line": "false",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": "de54831c-3df7-378b-9ff8-6dfc381691b6",
          "csv-reader-csv-parser": "commons-csv",
          "schema-access-strategy": "infer-schema",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "name": "ignore-csv-header",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Trim double quote": {
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "name": "Trim double quote",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "name": "csvutils-allow-duplicate-header-names",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Skip Header Line": {
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "name": "Skip Header Line",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "name": "csv-reader-csv-parser",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-dbcp-service-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.dbcp.DBCPService"
          }
        ],
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
        "instanceIdentifier": "1d0169c2-4528-38c5-a504-6225543694f0",
        "name": "MYSQL_DBCPConnectionPool",
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "#{classname}",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Database Connection URL": "#{url}",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "#{user}",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "#{location}",
          "dbcp-max-idle-conns": "8",
          "Password": "#{password}"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "name": "kerberos-password",
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-min-idle-conns",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Driver Class Name": {
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "name": "Database Driver Class Name",
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-min-evictable-idle-time",
            "sensitive": false
          },
          "kerberos-principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "kerberos-principal",
            "sensitive": false
          },
          "Max Total Connections": {
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "name": "Max Total Connections",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "name": "dbcp-max-conn-lifetime",
            "sensitive": false
          },
          "Validation-query": {
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "name": "Validation-query",
            "sensitive": false
          },
          "Database Connection URL": {
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "name": "Database Connection URL",
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "name": "dbcp-time-between-eviction-runs",
            "sensitive": false
          },
          "Database User": {
            "displayName": "Database User",
            "identifiesControllerService": false,
            "name": "Database User",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-soft-min-evictable-idle-time",
            "sensitive": false
          },
          "database-driver-locations": {
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "name": "database-driver-locations",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "URL",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "dbcp-max-idle-conns": {
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-max-idle-conns",
            "sensitive": false
          },
          "Password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "Password",
            "sensitive": true
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "008762a6-3009-3613-bd7f-b941930beddd",
        "instanceIdentifier": "48970f8a-6a5d-3fe5-1374-59f214dff181",
        "position": {
          "x": 336,
          "y": 224
        }
      },
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "ddb37e04-bbc8-3cca-8cf1-32fb70bd30c0",
        "instanceIdentifier": "604945b0-59c9-3c6e-87c1-aeeeb43665ad",
        "position": {
          "x": 2633,
          "y": 236
        }
      }
    ],
    "identifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
    "inputPorts": [],
    "instanceIdentifier": "c70d3116-9de3-1b59-38b5-d647625e4678",
    "labels": [],
    "logFileSuffix": "",
    "name": "MYSQL (8)",
    "outputPorts": [],
    "parameterContextName": "DBCP",
    "position": {
      "x": 1064,
      "y": 464
    },
    "processGroups": [
      {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
          {
            "backPressureDataSizeThreshold": "1 GB",
            "backPressureObjectThreshold": 10000,
            "bends": [],
            "componentType": "CONNECTION",
            "destination": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "3ee15a20-4f4b-330c-a776-a6cc61bd4bdd",
              "instanceIdentifier": "efdc49ff-fa06-3ffa-1719-e7113c1fb246",
              "name": "Fetch DATA FROM products table",
              "type": "PROCESSOR"
            },
            "flowFileExpiration": "0 sec",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "2abd0f90-cf7e-34e3-a486-43b33e6d8eea",
            "instanceIdentifier": "c21e6470-dbf9-3120-fc2b-b93627c87784",
            "labelIndex": 1,
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "name": "",
            "partitioningAttribute": "",
            "prioritizers": [],
            "selectedRelationships": [
              ""
            ],
            "source": {
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "64631b43-97ff-35d4-a42b-ffe2140ce5ee",
              "instanceIdentifier": "f271f06c-44d4-376e-3a83-ae9d1d24f3f0",
              "name": "IN",
              "type": "INPUT_PORT"
            },
            "zIndex": 0
          },
          {
            "backPressureDataSizeThreshold": "1 GB",
            "backPressureObjectThreshold": 10000,
            "bends": [],
            "componentType": "CONNECTION",
            "destination": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "5655b279-580e-3cda-86b9-96583858423b",
              "instanceIdentifier": "b17ba867-9617-3032-35b9-60913aca0248",
              "name": "ConvertAvroToJSON",
              "type": "PROCESSOR"
            },
            "flowFileExpiration": "0 sec",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "c53ac8f5-1a08-38e3-8779-f238a7f4518e",
            "instanceIdentifier": "3558e8be-30a7-330f-70ec-2ac240d36c18",
            "labelIndex": 1,
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "name": "",
            "partitioningAttribute": "",
            "prioritizers": [],
            "selectedRelationships": [
              "success"
            ],
            "source": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "3ee15a20-4f4b-330c-a776-a6cc61bd4bdd",
              "instanceIdentifier": "efdc49ff-fa06-3ffa-1719-e7113c1fb246",
              "name": "Fetch DATA FROM products table",
              "type": "PROCESSOR"
            },
            "zIndex": 0
          },
          {
            "backPressureDataSizeThreshold": "1 GB",
            "backPressureObjectThreshold": 10000,
            "bends": [],
            "componentType": "CONNECTION",
            "destination": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "aa6f6738-0e00-35a5-9d3d-03ea079df7bb",
              "instanceIdentifier": "bedcc7c1-6809-3eb3-f7a4-7168f3c44194",
              "name": "Funnel",
              "type": "FUNNEL"
            },
            "flowFileExpiration": "0 sec",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "93360036-ab00-33a7-8235-5d480cdfa12f",
            "instanceIdentifier": "b3bcd46e-1586-3682-581a-eab051342b64",
            "labelIndex": 1,
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "name": "",
            "partitioningAttribute": "",
            "prioritizers": [],
            "selectedRelationships": [
              "failure"
            ],
            "source": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "3ee15a20-4f4b-330c-a776-a6cc61bd4bdd",
              "instanceIdentifier": "efdc49ff-fa06-3ffa-1719-e7113c1fb246",
              "name": "Fetch DATA FROM products table",
              "type": "PROCESSOR"
            },
            "zIndex": 0
          },
          {
            "backPressureDataSizeThreshold": "1 GB",
            "backPressureObjectThreshold": 10000,
            "bends": [],
            "componentType": "CONNECTION",
            "destination": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "5f9108be-5da6-37fc-a506-444f61e58d99",
              "instanceIdentifier": "c5745921-e977-3099-7cf9-4cd259846314",
              "name": "Funnel",
              "type": "FUNNEL"
            },
            "flowFileExpiration": "0 sec",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "afbb4670-aea8-3803-a686-ffbafec6be34",
            "instanceIdentifier": "0d3d45a9-73a9-3ee2-f3d4-4708e1d3c1df",
            "labelIndex": 1,
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "name": "",
            "partitioningAttribute": "",
            "prioritizers": [],
            "selectedRelationships": [
              "failure"
            ],
            "source": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "5655b279-580e-3cda-86b9-96583858423b",
              "instanceIdentifier": "b17ba867-9617-3032-35b9-60913aca0248",
              "name": "ConvertAvroToJSON",
              "type": "PROCESSOR"
            },
            "zIndex": 0
          },
          {
            "backPressureDataSizeThreshold": "1 GB",
            "backPressureObjectThreshold": 10000,
            "bends": [],
            "componentType": "CONNECTION",
            "destination": {
              "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
              "id": "8d859d09-5494-3fdd-bc19-231e335bbc30",
              "instanceIdentifier": "77b53dec-2546-3b99-f7c9-25de9a94b5c1",
              "name": "IN",
              "type": "INPUT_PORT"
            },
            "flowFileExpiration": "0 sec",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "7acbc7ca-1d22-3742-bc68-b26603e1e09f",
            "instanceIdentifier": "efcdb941-0e20-3ab2-618f-4a486d09edc9",
            "labelIndex": 1,
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "name": "",
            "partitioningAttribute": "",
            "prioritizers": [],
            "selectedRelationships": [
              "success"
            ],
            "source": {
              "comments": "",
              "groupId": "6d747ff2-d1b8-313f-a020-f9f252f89201",
              "id": "5655b279-580e-3cda-86b9-96583858423b",
              "instanceIdentifier": "b17ba867-9617-3032-35b9-60913aca0248",
              "name": "ConvertAvroToJSON",
              "type": "PROCESSOR"
            },
            "zIndex": 0
          }
        ],
        "controllerServices": [
          {
            "bulletinLevel": "WARN",
            "bundle": {
              "artifact": "nifi-dbcp-service-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "comments": "",
            "componentType": "CONTROLLER_SERVICE",
            "controllerServiceApis": [
              {
                "bundle": {
                  "artifact": "nifi-standard-services-api-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "type": "org.apache.nifi.dbcp.DBCPService"
              }
            ],
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "bdbce025-c2fc-3b0b-8699-cbea48e29391",
            "instanceIdentifier": "fc9cf303-3f9e-3c2e-a40e-09375e25c309",
            "name": "MYSQL_Products_PG_DBCPConnectionPool",
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "#{classname}",
              "dbcp-min-evictable-idle-time": "30 mins",
              "Max Total Connections": "8",
              "dbcp-max-conn-lifetime": "-1",
              "Database Connection URL": "#{url}",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "#{user}",
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "#{location}",
              "dbcp-max-idle-conns": "8"
            },
            "propertyDescriptors": {
              "kerberos-password": {
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "name": "kerberos-password",
                "sensitive": true
              },
              "dbcp-min-idle-conns": {
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "name": "dbcp-min-idle-conns",
                "sensitive": false
              },
              "Max Wait Time": {
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "name": "Max Wait Time",
                "sensitive": false
              },
              "Database Driver Class Name": {
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "name": "Database Driver Class Name",
                "sensitive": false
              },
              "dbcp-min-evictable-idle-time": {
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "name": "dbcp-min-evictable-idle-time",
                "sensitive": false
              },
              "kerberos-principal": {
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "name": "kerberos-principal",
                "sensitive": false
              },
              "Max Total Connections": {
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "name": "Max Total Connections",
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "name": "kerberos-credentials-service",
                "sensitive": false
              },
              "dbcp-max-conn-lifetime": {
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "name": "dbcp-max-conn-lifetime",
                "sensitive": false
              },
              "Validation-query": {
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "name": "Validation-query",
                "sensitive": false
              },
              "Database Connection URL": {
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "name": "Database Connection URL",
                "sensitive": false
              },
              "dbcp-time-between-eviction-runs": {
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "name": "dbcp-time-between-eviction-runs",
                "sensitive": false
              },
              "Database User": {
                "displayName": "Database User",
                "identifiesControllerService": false,
                "name": "Database User",
                "sensitive": false
              },
              "kerberos-user-service": {
                "displayName": "Kerberos User Service",
                "identifiesControllerService": true,
                "name": "kerberos-user-service",
                "sensitive": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "name": "dbcp-soft-min-evictable-idle-time",
                "sensitive": false
              },
              "database-driver-locations": {
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "name": "database-driver-locations",
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": [
                    "DIRECTORY",
                    "URL",
                    "FILE"
                  ]
                },
                "sensitive": false
              },
              "dbcp-max-idle-conns": {
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "name": "dbcp-max-idle-conns",
                "sensitive": false
              },
              "Password": {
                "displayName": "Password",
                "identifiesControllerService": false,
                "name": "Password",
                "sensitive": true
              }
            },
            "scheduledState": "DISABLED",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
          }
        ],
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultFlowFileExpiration": "0 sec",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "funnels": [
          {
            "componentType": "FUNNEL",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "5f9108be-5da6-37fc-a506-444f61e58d99",
            "instanceIdentifier": "c5745921-e977-3099-7cf9-4cd259846314",
            "position": {
              "x": 1564,
              "y": 300
            }
          },
          {
            "componentType": "FUNNEL",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "aa6f6738-0e00-35a5-9d3d-03ea079df7bb",
            "instanceIdentifier": "bedcc7c1-6809-3eb3-f7a4-7168f3c44194",
            "position": {
              "x": 1016,
              "y": 331
            }
          }
        ],
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
        "inputPorts": [
          {
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "64631b43-97ff-35d4-a42b-ffe2140ce5ee",
            "instanceIdentifier": "f271f06c-44d4-376e-3a83-ae9d1d24f3f0",
            "name": "IN",
            "position": {
              "x": 367,
              "y": 114
            },
            "scheduledState": "ENABLED",
            "type": "INPUT_PORT"
          }
        ],
        "instanceIdentifier": "66bf5b1a-240a-382a-21fa-f01bf2b343fc",
        "labels": [],
        "logFileSuffix": "",
        "name": "FETCH DATA from Products",
        "outputPorts": [],
        "parameterContextName": "ControllerParameter",
        "position": {
          "x": 3032,
          "y": -72
        },
        "processGroups": [
          {
            "comments": "",
            "componentType": "PROCESS_GROUP",
            "connections": [
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "d86b0b4c-f34b-3045-8082-070dc76aa02e",
                  "instanceIdentifier": "82fdd6aa-4e6e-320e-781d-d6c15133006f",
                  "name": "Fetch Data from Orders table",
                  "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "c4dd7c00-acb3-3337-a9b7-90b8697b8f69",
                "instanceIdentifier": "18407c7c-9c41-3364-0e22-34817a5e08a6",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "success"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "a438e434-110a-363d-82c9-92ee967a1bec",
                  "instanceIdentifier": "43f287b6-14d5-3ef3-84e0-ffd1c09e2e71",
                  "name": "Fetch Data from customer",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "86348c20-d7d8-3622-8d64-7565c16b5e6a",
                  "instanceIdentifier": "25abd250-1d24-36a8-8ce3-674597da3844",
                  "name": "Funnel",
                  "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "2284c92d-fa15-30b7-aa16-ee5d8253cd10",
                "instanceIdentifier": "a0d5b697-06c4-389c-2288-6aa71479dadb",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "failure"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "0142cec1-d21d-3dbf-82cb-f8e3ccdd19bc",
                  "instanceIdentifier": "c58a189f-7166-35cb-165f-189f9a39c1ab",
                  "name": "ExecuteSQL",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "86348c20-d7d8-3622-8d64-7565c16b5e6a",
                  "instanceIdentifier": "25abd250-1d24-36a8-8ce3-674597da3844",
                  "name": "Funnel",
                  "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "33266323-82e3-316d-a580-d51dab3b4b97",
                "instanceIdentifier": "cb7e1a0f-9e82-3373-613c-7183b57d8d14",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "failure"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "d86b0b4c-f34b-3045-8082-070dc76aa02e",
                  "instanceIdentifier": "82fdd6aa-4e6e-320e-781d-d6c15133006f",
                  "name": "Fetch Data from Orders table",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "a438e434-110a-363d-82c9-92ee967a1bec",
                  "instanceIdentifier": "43f287b6-14d5-3ef3-84e0-ffd1c09e2e71",
                  "name": "Fetch Data from customer",
                  "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "24dcf984-ec19-3d15-b7e3-81927ba3b403",
                "instanceIdentifier": "ef68f13b-a829-3239-f960-e44885a873eb",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  ""
                ],
                "source": {
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "8d859d09-5494-3fdd-bc19-231e335bbc30",
                  "instanceIdentifier": "77b53dec-2546-3b99-f7c9-25de9a94b5c1",
                  "name": "IN",
                  "type": "INPUT_PORT"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "0142cec1-d21d-3dbf-82cb-f8e3ccdd19bc",
                  "instanceIdentifier": "c58a189f-7166-35cb-165f-189f9a39c1ab",
                  "name": "ExecuteSQL",
                  "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "e4d60a69-a2e4-32e5-bcee-0307221e2550",
                "instanceIdentifier": "a7788b88-d863-3a27-08b8-0b255fb501cc",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "success"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "557747c6-f2ae-39c7-afaa-49b58717dd65",
                  "instanceIdentifier": "5d9304a5-b2d0-3c0d-14f0-e38ad90e261d",
                  "name": "Fetch DATA FROM products table",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "557747c6-f2ae-39c7-afaa-49b58717dd65",
                  "instanceIdentifier": "5d9304a5-b2d0-3c0d-14f0-e38ad90e261d",
                  "name": "Fetch DATA FROM products table",
                  "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "8fcb0f04-6dd9-3708-9be9-996d971d37d0",
                "instanceIdentifier": "9eea9066-bcb9-38a9-b571-892f52a806dd",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "success"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "d86b0b4c-f34b-3045-8082-070dc76aa02e",
                  "instanceIdentifier": "82fdd6aa-4e6e-320e-781d-d6c15133006f",
                  "name": "Fetch Data from Orders table",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "3757a240-6b68-39a1-a026-86350471a73f",
                  "instanceIdentifier": "14b23435-db7e-3b80-ebc7-8fe578a58b22",
                  "name": "Funnel",
                  "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "4aeee06b-c9d0-37a8-92e0-1f86564d9b78",
                "instanceIdentifier": "a5b097da-6137-3dc2-1c4b-ce1b17f1556b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "success"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "0142cec1-d21d-3dbf-82cb-f8e3ccdd19bc",
                  "instanceIdentifier": "c58a189f-7166-35cb-165f-189f9a39c1ab",
                  "name": "ExecuteSQL",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "86348c20-d7d8-3622-8d64-7565c16b5e6a",
                  "instanceIdentifier": "25abd250-1d24-36a8-8ce3-674597da3844",
                  "name": "Funnel",
                  "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "2ef756a3-6b13-3404-82cc-e9dba07e2440",
                "instanceIdentifier": "ad27fd9f-9b31-3195-d3cc-3b88748ae052",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "failure"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "a438e434-110a-363d-82c9-92ee967a1bec",
                  "instanceIdentifier": "43f287b6-14d5-3ef3-84e0-ffd1c09e2e71",
                  "name": "Fetch Data from customer",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              },
              {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "86348c20-d7d8-3622-8d64-7565c16b5e6a",
                  "instanceIdentifier": "25abd250-1d24-36a8-8ce3-674597da3844",
                  "name": "Funnel",
                  "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "d197c77c-d636-300a-a202-3cabfb322c37",
                "instanceIdentifier": "822d9c8c-7a4f-399b-841d-9a8ae61c531e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                  "failure"
                ],
                "source": {
                  "comments": "",
                  "groupId": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                  "id": "557747c6-f2ae-39c7-afaa-49b58717dd65",
                  "instanceIdentifier": "5d9304a5-b2d0-3c0d-14f0-e38ad90e261d",
                  "name": "Fetch DATA FROM products table",
                  "type": "PROCESSOR"
                },
                "zIndex": 0
              }
            ],
            "controllerServices": [
              {
                "bulletinLevel": "WARN",
                "bundle": {
                  "artifact": "nifi-dbcp-service-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "comments": "",
                "componentType": "CONTROLLER_SERVICE",
                "controllerServiceApis": [
                  {
                    "bundle": {
                      "artifact": "nifi-standard-services-api-nar",
                      "group": "org.apache.nifi",
                      "version": "1.28.0"
                    },
                    "type": "org.apache.nifi.dbcp.DBCPService"
                  }
                ],
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "8e92925a-40c7-3278-81ca-b4ae4e853707",
                "instanceIdentifier": "17857049-8be2-33e9-a27f-43bb9322eee5",
                "name": "MYSQL_FETCH_ALL_DATA_DBCPConnectionPool",
                "properties": {
                  "dbcp-min-idle-conns": "0",
                  "Max Wait Time": "500 millis",
                  "Database Driver Class Name": "#{classname}",
                  "dbcp-min-evictable-idle-time": "30 mins",
                  "Max Total Connections": "8",
                  "dbcp-max-conn-lifetime": "-1",
                  "Database Connection URL": "#{url}",
                  "dbcp-time-between-eviction-runs": "-1",
                  "Database User": "#{user}",
                  "dbcp-soft-min-evictable-idle-time": "-1",
                  "database-driver-locations": "#{location}",
                  "dbcp-max-idle-conns": "8"
                },
                "propertyDescriptors": {
                  "kerberos-password": {
                    "displayName": "Kerberos Password",
                    "identifiesControllerService": false,
                    "name": "kerberos-password",
                    "sensitive": true
                  },
                  "dbcp-min-idle-conns": {
                    "displayName": "Minimum Idle Connections",
                    "identifiesControllerService": false,
                    "name": "dbcp-min-idle-conns",
                    "sensitive": false
                  },
                  "Max Wait Time": {
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "name": "Max Wait Time",
                    "sensitive": false
                  },
                  "Database Driver Class Name": {
                    "displayName": "Database Driver Class Name",
                    "identifiesControllerService": false,
                    "name": "Database Driver Class Name",
                    "sensitive": false
                  },
                  "dbcp-min-evictable-idle-time": {
                    "displayName": "Minimum Evictable Idle Time",
                    "identifiesControllerService": false,
                    "name": "dbcp-min-evictable-idle-time",
                    "sensitive": false
                  },
                  "kerberos-principal": {
                    "displayName": "Kerberos Principal",
                    "identifiesControllerService": false,
                    "name": "kerberos-principal",
                    "sensitive": false
                  },
                  "Max Total Connections": {
                    "displayName": "Max Total Connections",
                    "identifiesControllerService": false,
                    "name": "Max Total Connections",
                    "sensitive": false
                  },
                  "kerberos-credentials-service": {
                    "displayName": "Kerberos Credentials Service",
                    "identifiesControllerService": true,
                    "name": "kerberos-credentials-service",
                    "sensitive": false
                  },
                  "dbcp-max-conn-lifetime": {
                    "displayName": "Max Connection Lifetime",
                    "identifiesControllerService": false,
                    "name": "dbcp-max-conn-lifetime",
                    "sensitive": false
                  },
                  "Validation-query": {
                    "displayName": "Validation query",
                    "identifiesControllerService": false,
                    "name": "Validation-query",
                    "sensitive": false
                  },
                  "Database Connection URL": {
                    "displayName": "Database Connection URL",
                    "identifiesControllerService": false,
                    "name": "Database Connection URL",
                    "sensitive": false
                  },
                  "dbcp-time-between-eviction-runs": {
                    "displayName": "Time Between Eviction Runs",
                    "identifiesControllerService": false,
                    "name": "dbcp-time-between-eviction-runs",
                    "sensitive": false
                  },
                  "Database User": {
                    "displayName": "Database User",
                    "identifiesControllerService": false,
                    "name": "Database User",
                    "sensitive": false
                  },
                  "kerberos-user-service": {
                    "displayName": "Kerberos User Service",
                    "identifiesControllerService": true,
                    "name": "kerberos-user-service",
                    "sensitive": false
                  },
                  "dbcp-soft-min-evictable-idle-time": {
                    "displayName": "Soft Minimum Evictable Idle Time",
                    "identifiesControllerService": false,
                    "name": "dbcp-soft-min-evictable-idle-time",
                    "sensitive": false
                  },
                  "database-driver-locations": {
                    "displayName": "Database Driver Location(s)",
                    "identifiesControllerService": false,
                    "name": "database-driver-locations",
                    "resourceDefinition": {
                      "cardinality": "MULTIPLE",
                      "resourceTypes": [
                        "DIRECTORY",
                        "URL",
                        "FILE"
                      ]
                    },
                    "sensitive": false
                  },
                  "dbcp-max-idle-conns": {
                    "displayName": "Max Idle Connections",
                    "identifiesControllerService": false,
                    "name": "dbcp-max-idle-conns",
                    "sensitive": false
                  },
                  "Password": {
                    "displayName": "Password",
                    "identifiesControllerService": false,
                    "name": "Password",
                    "sensitive": true
                  }
                },
                "scheduledState": "DISABLED",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
              }
            ],
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultFlowFileExpiration": "0 sec",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "funnels": [
              {
                "componentType": "FUNNEL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "86348c20-d7d8-3622-8d64-7565c16b5e6a",
                "instanceIdentifier": "25abd250-1d24-36a8-8ce3-674597da3844",
                "position": {
                  "x": 1666,
                  "y": 486
                }
              },
              {
                "componentType": "FUNNEL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "3757a240-6b68-39a1-a026-86350471a73f",
                "instanceIdentifier": "14b23435-db7e-3b80-ebc7-8fe578a58b22",
                "position": {
                  "x": 2964,
                  "y": 385
                }
              }
            ],
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
            "inputPorts": [
              {
                "allowRemoteAccess": false,
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "8d859d09-5494-3fdd-bc19-231e335bbc30",
                "instanceIdentifier": "77b53dec-2546-3b99-f7c9-25de9a94b5c1",
                "name": "IN",
                "position": {
                  "x": 256,
                  "y": 120
                },
                "scheduledState": "ENABLED",
                "type": "INPUT_PORT"
              }
            ],
            "instanceIdentifier": "75132c18-dde0-30bf-1a39-d22334450fdb",
            "labels": [],
            "logFileSuffix": "",
            "name": "FETCH ALL DATA",
            "outputPorts": [],
            "parameterContextName": "ControllerParameter",
            "position": {
              "x": 2136,
              "y": 80
            },
            "processGroups": [],
            "processors": [
              {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                  "artifact": "nifi-standard-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "0142cec1-d21d-3dbf-82cb-f8e3ccdd19bc",
                "instanceIdentifier": "c58a189f-7166-35cb-165f-189f9a39c1ab",
                "maxBackoffPeriod": "10 mins",
                "name": "ExecuteSQL",
                "penaltyDuration": "30 sec",
                "position": {
                  "x": 2840,
                  "y": 88
                },
                "properties": {
                  "esql-max-rows": "0",
                  "dbf-default-precision": "10",
                  "Max Wait Time": "0 seconds",
                  "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
                  "esql-auto-commit": "true",
                  "dbf-user-logical-types": "false",
                  "dbf-default-scale": "0",
                  "compression-format": "NONE",
                  "esql-output-batch-size": "0",
                  "esql-fetch-size": "0",
                  "SQL select query": "${query4}",
                  "dbf-normalize": "false"
                },
                "propertyDescriptors": {
                  "esql-max-rows": {
                    "displayName": "Max Rows Per Flow File",
                    "identifiesControllerService": false,
                    "name": "esql-max-rows",
                    "sensitive": false
                  },
                  "dbf-default-precision": {
                    "displayName": "Default Decimal Precision",
                    "identifiesControllerService": false,
                    "name": "dbf-default-precision",
                    "sensitive": false
                  },
                  "Max Wait Time": {
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "name": "Max Wait Time",
                    "sensitive": false
                  },
                  "Database Connection Pooling Service": {
                    "displayName": "Database Connection Pooling Service",
                    "identifiesControllerService": true,
                    "name": "Database Connection Pooling Service",
                    "sensitive": false
                  },
                  "sql-post-query": {
                    "displayName": "SQL Post-Query",
                    "identifiesControllerService": false,
                    "name": "sql-post-query",
                    "sensitive": false
                  },
                  "esql-auto-commit": {
                    "displayName": "Set Auto Commit",
                    "identifiesControllerService": false,
                    "name": "esql-auto-commit",
                    "sensitive": false
                  },
                  "dbf-user-logical-types": {
                    "displayName": "Use Avro Logical Types",
                    "identifiesControllerService": false,
                    "name": "dbf-user-logical-types",
                    "sensitive": false
                  },
                  "dbf-default-scale": {
                    "displayName": "Default Decimal Scale",
                    "identifiesControllerService": false,
                    "name": "dbf-default-scale",
                    "sensitive": false
                  },
                  "sql-pre-query": {
                    "displayName": "SQL Pre-Query",
                    "identifiesControllerService": false,
                    "name": "sql-pre-query",
                    "sensitive": false
                  },
                  "compression-format": {
                    "displayName": "Compression Format",
                    "identifiesControllerService": false,
                    "name": "compression-format",
                    "sensitive": false
                  },
                  "esql-output-batch-size": {
                    "displayName": "Output Batch Size",
                    "identifiesControllerService": false,
                    "name": "esql-output-batch-size",
                    "sensitive": false
                  },
                  "esql-fetch-size": {
                    "displayName": "Fetch Size",
                    "identifiesControllerService": false,
                    "name": "esql-fetch-size",
                    "sensitive": false
                  },
                  "SQL select query": {
                    "displayName": "SQL select query",
                    "identifiesControllerService": false,
                    "name": "SQL select query",
                    "sensitive": false
                  },
                  "dbf-normalize": {
                    "displayName": "Normalize Table/Column Names",
                    "identifiesControllerService": false,
                    "name": "dbf-normalize",
                    "sensitive": false
                  }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "yieldDuration": "1 sec"
              },
              {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                  "artifact": "nifi-standard-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "a438e434-110a-363d-82c9-92ee967a1bec",
                "instanceIdentifier": "43f287b6-14d5-3ef3-84e0-ffd1c09e2e71",
                "maxBackoffPeriod": "10 mins",
                "name": "Fetch Data from customer",
                "penaltyDuration": "30 sec",
                "position": {
                  "x": 824,
                  "y": 96
                },
                "properties": {
                  "esql-max-rows": "0",
                  "dbf-default-precision": "10",
                  "Max Wait Time": "0 seconds",
                  "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
                  "esql-auto-commit": "true",
                  "dbf-user-logical-types": "false",
                  "dbf-default-scale": "0",
                  "compression-format": "NONE",
                  "esql-output-batch-size": "0",
                  "esql-fetch-size": "0",
                  "SQL select query": "${query1}",
                  "dbf-normalize": "false"
                },
                "propertyDescriptors": {
                  "esql-max-rows": {
                    "displayName": "Max Rows Per Flow File",
                    "identifiesControllerService": false,
                    "name": "esql-max-rows",
                    "sensitive": false
                  },
                  "dbf-default-precision": {
                    "displayName": "Default Decimal Precision",
                    "identifiesControllerService": false,
                    "name": "dbf-default-precision",
                    "sensitive": false
                  },
                  "Max Wait Time": {
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "name": "Max Wait Time",
                    "sensitive": false
                  },
                  "Database Connection Pooling Service": {
                    "displayName": "Database Connection Pooling Service",
                    "identifiesControllerService": true,
                    "name": "Database Connection Pooling Service",
                    "sensitive": false
                  },
                  "sql-post-query": {
                    "displayName": "SQL Post-Query",
                    "identifiesControllerService": false,
                    "name": "sql-post-query",
                    "sensitive": false
                  },
                  "esql-auto-commit": {
                    "displayName": "Set Auto Commit",
                    "identifiesControllerService": false,
                    "name": "esql-auto-commit",
                    "sensitive": false
                  },
                  "dbf-user-logical-types": {
                    "displayName": "Use Avro Logical Types",
                    "identifiesControllerService": false,
                    "name": "dbf-user-logical-types",
                    "sensitive": false
                  },
                  "dbf-default-scale": {
                    "displayName": "Default Decimal Scale",
                    "identifiesControllerService": false,
                    "name": "dbf-default-scale",
                    "sensitive": false
                  },
                  "sql-pre-query": {
                    "displayName": "SQL Pre-Query",
                    "identifiesControllerService": false,
                    "name": "sql-pre-query",
                    "sensitive": false
                  },
                  "compression-format": {
                    "displayName": "Compression Format",
                    "identifiesControllerService": false,
                    "name": "compression-format",
                    "sensitive": false
                  },
                  "esql-output-batch-size": {
                    "displayName": "Output Batch Size",
                    "identifiesControllerService": false,
                    "name": "esql-output-batch-size",
                    "sensitive": false
                  },
                  "esql-fetch-size": {
                    "displayName": "Fetch Size",
                    "identifiesControllerService": false,
                    "name": "esql-fetch-size",
                    "sensitive": false
                  },
                  "SQL select query": {
                    "displayName": "SQL select query",
                    "identifiesControllerService": false,
                    "name": "SQL select query",
                    "sensitive": false
                  },
                  "dbf-normalize": {
                    "displayName": "Normalize Table/Column Names",
                    "identifiesControllerService": false,
                    "name": "dbf-normalize",
                    "sensitive": false
                  }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "yieldDuration": "1 sec"
              },
              {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                  "artifact": "nifi-standard-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "d86b0b4c-f34b-3045-8082-070dc76aa02e",
                "instanceIdentifier": "82fdd6aa-4e6e-320e-781d-d6c15133006f",
                "maxBackoffPeriod": "10 mins",
                "name": "Fetch Data from Orders table",
                "penaltyDuration": "30 sec",
                "position": {
                  "x": 1488,
                  "y": 88
                },
                "properties": {
                  "esql-max-rows": "0",
                  "dbf-default-precision": "10",
                  "Max Wait Time": "0 seconds",
                  "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
                  "esql-auto-commit": "true",
                  "dbf-user-logical-types": "false",
                  "dbf-default-scale": "0",
                  "compression-format": "NONE",
                  "esql-output-batch-size": "0",
                  "esql-fetch-size": "0",
                  "SQL select query": "${query2}",
                  "dbf-normalize": "false"
                },
                "propertyDescriptors": {
                  "esql-max-rows": {
                    "displayName": "Max Rows Per Flow File",
                    "identifiesControllerService": false,
                    "name": "esql-max-rows",
                    "sensitive": false
                  },
                  "dbf-default-precision": {
                    "displayName": "Default Decimal Precision",
                    "identifiesControllerService": false,
                    "name": "dbf-default-precision",
                    "sensitive": false
                  },
                  "Max Wait Time": {
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "name": "Max Wait Time",
                    "sensitive": false
                  },
                  "Database Connection Pooling Service": {
                    "displayName": "Database Connection Pooling Service",
                    "identifiesControllerService": true,
                    "name": "Database Connection Pooling Service",
                    "sensitive": false
                  },
                  "sql-post-query": {
                    "displayName": "SQL Post-Query",
                    "identifiesControllerService": false,
                    "name": "sql-post-query",
                    "sensitive": false
                  },
                  "esql-auto-commit": {
                    "displayName": "Set Auto Commit",
                    "identifiesControllerService": false,
                    "name": "esql-auto-commit",
                    "sensitive": false
                  },
                  "dbf-user-logical-types": {
                    "displayName": "Use Avro Logical Types",
                    "identifiesControllerService": false,
                    "name": "dbf-user-logical-types",
                    "sensitive": false
                  },
                  "dbf-default-scale": {
                    "displayName": "Default Decimal Scale",
                    "identifiesControllerService": false,
                    "name": "dbf-default-scale",
                    "sensitive": false
                  },
                  "sql-pre-query": {
                    "displayName": "SQL Pre-Query",
                    "identifiesControllerService": false,
                    "name": "sql-pre-query",
                    "sensitive": false
                  },
                  "compression-format": {
                    "displayName": "Compression Format",
                    "identifiesControllerService": false,
                    "name": "compression-format",
                    "sensitive": false
                  },
                  "esql-output-batch-size": {
                    "displayName": "Output Batch Size",
                    "identifiesControllerService": false,
                    "name": "esql-output-batch-size",
                    "sensitive": false
                  },
                  "esql-fetch-size": {
                    "displayName": "Fetch Size",
                    "identifiesControllerService": false,
                    "name": "esql-fetch-size",
                    "sensitive": false
                  },
                  "SQL select query": {
                    "displayName": "SQL select query",
                    "identifiesControllerService": false,
                    "name": "SQL select query",
                    "sensitive": false
                  },
                  "dbf-normalize": {
                    "displayName": "Normalize Table/Column Names",
                    "identifiesControllerService": false,
                    "name": "dbf-normalize",
                    "sensitive": false
                  }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "yieldDuration": "1 sec"
              },
              {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                  "artifact": "nifi-standard-nar",
                  "group": "org.apache.nifi",
                  "version": "1.28.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fb022f1d-cd5c-3294-a697-110f9bad62fe",
                "identifier": "557747c6-f2ae-39c7-afaa-49b58717dd65",
                "instanceIdentifier": "5d9304a5-b2d0-3c0d-14f0-e38ad90e261d",
                "maxBackoffPeriod": "10 mins",
                "name": "Fetch DATA FROM products table",
                "penaltyDuration": "30 sec",
                "position": {
                  "x": 2168,
                  "y": 80
                },
                "properties": {
                  "esql-max-rows": "0",
                  "dbf-default-precision": "10",
                  "Max Wait Time": "0 seconds",
                  "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
                  "esql-auto-commit": "true",
                  "dbf-user-logical-types": "false",
                  "dbf-default-scale": "0",
                  "compression-format": "NONE",
                  "esql-output-batch-size": "0",
                  "esql-fetch-size": "0",
                  "SQL select query": "${query3}",
                  "dbf-normalize": "false"
                },
                "propertyDescriptors": {
                  "esql-max-rows": {
                    "displayName": "Max Rows Per Flow File",
                    "identifiesControllerService": false,
                    "name": "esql-max-rows",
                    "sensitive": false
                  },
                  "dbf-default-precision": {
                    "displayName": "Default Decimal Precision",
                    "identifiesControllerService": false,
                    "name": "dbf-default-precision",
                    "sensitive": false
                  },
                  "Max Wait Time": {
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "name": "Max Wait Time",
                    "sensitive": false
                  },
                  "Database Connection Pooling Service": {
                    "displayName": "Database Connection Pooling Service",
                    "identifiesControllerService": true,
                    "name": "Database Connection Pooling Service",
                    "sensitive": false
                  },
                  "sql-post-query": {
                    "displayName": "SQL Post-Query",
                    "identifiesControllerService": false,
                    "name": "sql-post-query",
                    "sensitive": false
                  },
                  "esql-auto-commit": {
                    "displayName": "Set Auto Commit",
                    "identifiesControllerService": false,
                    "name": "esql-auto-commit",
                    "sensitive": false
                  },
                  "dbf-user-logical-types": {
                    "displayName": "Use Avro Logical Types",
                    "identifiesControllerService": false,
                    "name": "dbf-user-logical-types",
                    "sensitive": false
                  },
                  "dbf-default-scale": {
                    "displayName": "Default Decimal Scale",
                    "identifiesControllerService": false,
                    "name": "dbf-default-scale",
                    "sensitive": false
                  },
                  "sql-pre-query": {
                    "displayName": "SQL Pre-Query",
                    "identifiesControllerService": false,
                    "name": "sql-pre-query",
                    "sensitive": false
                  },
                  "compression-format": {
                    "displayName": "Compression Format",
                    "identifiesControllerService": false,
                    "name": "compression-format",
                    "sensitive": false
                  },
                  "esql-output-batch-size": {
                    "displayName": "Output Batch Size",
                    "identifiesControllerService": false,
                    "name": "esql-output-batch-size",
                    "sensitive": false
                  },
                  "esql-fetch-size": {
                    "displayName": "Fetch Size",
                    "identifiesControllerService": false,
                    "name": "esql-fetch-size",
                    "sensitive": false
                  },
                  "SQL select query": {
                    "displayName": "SQL select query",
                    "identifiesControllerService": false,
                    "name": "SQL select query",
                    "sensitive": false
                  },
                  "dbf-normalize": {
                    "displayName": "Normalize Table/Column Names",
                    "identifiesControllerService": false,
                    "name": "dbf-normalize",
                    "sensitive": false
                  }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "yieldDuration": "1 sec"
              }
            ],
            "remoteProcessGroups": [],
            "variables": {}
          }
        ],
        "processors": [
          {
            "autoTerminatedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "bulletinLevel": "WARN",
            "bundle": {
              "artifact": "nifi-avro-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "comments": "",
            "componentType": "PROCESSOR",
            "concurrentlySchedulableTaskCount": 1,
            "executionNode": "ALL",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "5655b279-580e-3cda-86b9-96583858423b",
            "instanceIdentifier": "b17ba867-9617-3032-35b9-60913aca0248",
            "maxBackoffPeriod": "10 mins",
            "name": "ConvertAvroToJSON",
            "penaltyDuration": "30 sec",
            "position": {
              "x": 1464,
              "y": 80
            },
            "properties": {
              "JSON container options": "array",
              "Wrap Single Record": "false"
            },
            "propertyDescriptors": {
              "JSON container options": {
                "displayName": "JSON container options",
                "identifiesControllerService": false,
                "name": "JSON container options",
                "sensitive": false
              },
              "Wrap Single Record": {
                "displayName": "Wrap Single Record",
                "identifiesControllerService": false,
                "name": "Wrap Single Record",
                "sensitive": false
              },
              "Avro schema": {
                "displayName": "Avro schema",
                "identifiesControllerService": false,
                "name": "Avro schema",
                "sensitive": false
              }
            },
            "retriedRelationships": [],
            "retryCount": 10,
            "runDurationMillis": 0,
            "scheduledState": "ENABLED",
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "style": {},
            "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
            "yieldDuration": "1 sec"
          },
          {
            "autoTerminatedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "bulletinLevel": "WARN",
            "bundle": {
              "artifact": "nifi-standard-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "comments": "",
            "componentType": "PROCESSOR",
            "concurrentlySchedulableTaskCount": 1,
            "executionNode": "ALL",
            "groupIdentifier": "6d747ff2-d1b8-313f-a020-f9f252f89201",
            "identifier": "3ee15a20-4f4b-330c-a776-a6cc61bd4bdd",
            "instanceIdentifier": "efdc49ff-fa06-3ffa-1719-e7113c1fb246",
            "maxBackoffPeriod": "10 mins",
            "name": "Fetch DATA FROM products table",
            "penaltyDuration": "30 sec",
            "position": {
              "x": 864,
              "y": 80
            },
            "properties": {
              "esql-max-rows": "0",
              "dbf-default-precision": "10",
              "Max Wait Time": "0 seconds",
              "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
              "esql-auto-commit": "true",
              "dbf-user-logical-types": "false",
              "dbf-default-scale": "0",
              "compression-format": "NONE",
              "esql-output-batch-size": "0",
              "esql-fetch-size": "0",
              "SQL select query": "${query3}",
              "dbf-normalize": "false"
            },
            "propertyDescriptors": {
              "esql-max-rows": {
                "displayName": "Max Rows Per Flow File",
                "identifiesControllerService": false,
                "name": "esql-max-rows",
                "sensitive": false
              },
              "dbf-default-precision": {
                "displayName": "Default Decimal Precision",
                "identifiesControllerService": false,
                "name": "dbf-default-precision",
                "sensitive": false
              },
              "Max Wait Time": {
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "name": "Max Wait Time",
                "sensitive": false
              },
              "Database Connection Pooling Service": {
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "name": "Database Connection Pooling Service",
                "sensitive": false
              },
              "sql-post-query": {
                "displayName": "SQL Post-Query",
                "identifiesControllerService": false,
                "name": "sql-post-query",
                "sensitive": false
              },
              "esql-auto-commit": {
                "displayName": "Set Auto Commit",
                "identifiesControllerService": false,
                "name": "esql-auto-commit",
                "sensitive": false
              },
              "dbf-user-logical-types": {
                "displayName": "Use Avro Logical Types",
                "identifiesControllerService": false,
                "name": "dbf-user-logical-types",
                "sensitive": false
              },
              "dbf-default-scale": {
                "displayName": "Default Decimal Scale",
                "identifiesControllerService": false,
                "name": "dbf-default-scale",
                "sensitive": false
              },
              "sql-pre-query": {
                "displayName": "SQL Pre-Query",
                "identifiesControllerService": false,
                "name": "sql-pre-query",
                "sensitive": false
              },
              "compression-format": {
                "displayName": "Compression Format",
                "identifiesControllerService": false,
                "name": "compression-format",
                "sensitive": false
              },
              "esql-output-batch-size": {
                "displayName": "Output Batch Size",
                "identifiesControllerService": false,
                "name": "esql-output-batch-size",
                "sensitive": false
              },
              "esql-fetch-size": {
                "displayName": "Fetch Size",
                "identifiesControllerService": false,
                "name": "esql-fetch-size",
                "sensitive": false
              },
              "SQL select query": {
                "displayName": "SQL select query",
                "identifiesControllerService": false,
                "name": "SQL select query",
                "sensitive": false
              },
              "dbf-normalize": {
                "displayName": "Normalize Table/Column Names",
                "identifiesControllerService": false,
                "name": "dbf-normalize",
                "sensitive": false
              }
            },
            "retriedRelationships": [],
            "retryCount": 10,
            "runDurationMillis": 0,
            "scheduledState": "ENABLED",
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "style": {},
            "type": "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration": "1 sec"
          }
        ],
        "remoteProcessGroups": [],
        "variables": {}
      }
    ],
    "processors": [
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-avro-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "6362b700-48c7-3e06-8c4c-bb37e649e64d",
        "instanceIdentifier": "ea0a549a-7e4a-371f-96f1-e75822a670e3",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertAvroToJSON",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 576,
          "y": 288
        },
        "properties": {
          "JSON container options": "array",
          "Wrap Single Record": "false"
        },
        "propertyDescriptors": {
          "JSON container options": {
            "displayName": "JSON container options",
            "identifiesControllerService": false,
            "name": "JSON container options",
            "sensitive": false
          },
          "Wrap Single Record": {
            "displayName": "Wrap Single Record",
            "identifiesControllerService": false,
            "name": "Wrap Single Record",
            "sensitive": false
          },
          "Avro schema": {
            "displayName": "Avro schema",
            "identifiesControllerService": false,
            "name": "Avro schema",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "failure",
          "unmatched"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "dcadaf66-7bb2-3ea2-9737-8d0ff1c28865",
        "instanceIdentifier": "6f887cb1-7a4d-3743-07ab-67e0298df1f4",
        "maxBackoffPeriod": "10 mins",
        "name": "EvaluateJsonPath",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1912,
          "y": -40
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "Max String Length": "20 MB",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "CustomerID": "$.CustomerID",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "Destination": {
            "displayName": "Destination",
            "identifiesControllerService": false,
            "name": "Destination",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "Return Type": {
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "name": "Return Type",
            "sensitive": false
          },
          "Null Value Representation": {
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "name": "Null Value Representation",
            "sensitive": false
          },
          "CustomerID": {
            "displayName": "CustomerID",
            "identifiesControllerService": false,
            "name": "CustomerID",
            "sensitive": false
          },
          "Path Not Found Behavior": {
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "name": "Path Not Found Behavior",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "c02d93ba-b2cf-3d9d-b48c-a9a8268c17ab",
        "instanceIdentifier": "f9eb986f-a853-3643-cb66-a7396a85d012",
        "maxBackoffPeriod": "10 mins",
        "name": "Fetch Data from Orders table",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 2512,
          "y": -40
        },
        "properties": {
          "esql-max-rows": "0",
          "dbf-default-precision": "10",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
          "esql-auto-commit": "true",
          "dbf-user-logical-types": "false",
          "dbf-default-scale": "0",
          "compression-format": "NONE",
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "${query2}",
          "dbf-normalize": "false"
        },
        "propertyDescriptors": {
          "esql-max-rows": {
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "name": "esql-max-rows",
            "sensitive": false
          },
          "dbf-default-precision": {
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "name": "dbf-default-precision",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "name": "Database Connection Pooling Service",
            "sensitive": false
          },
          "sql-post-query": {
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "name": "sql-post-query",
            "sensitive": false
          },
          "esql-auto-commit": {
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "name": "esql-auto-commit",
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "name": "dbf-user-logical-types",
            "sensitive": false
          },
          "dbf-default-scale": {
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "name": "dbf-default-scale",
            "sensitive": false
          },
          "sql-pre-query": {
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "name": "sql-pre-query",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "esql-output-batch-size": {
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "name": "esql-output-batch-size",
            "sensitive": false
          },
          "esql-fetch-size": {
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "name": "esql-fetch-size",
            "sensitive": false
          },
          "SQL select query": {
            "displayName": "SQL select query",
            "identifiesControllerService": false,
            "name": "SQL select query",
            "sensitive": false
          },
          "dbf-normalize": {
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "name": "dbf-normalize",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "b76a5c62-160c-3e87-b9e6-b2722a52e36c",
        "instanceIdentifier": "e6e273bb-27d2-3dc5-a651-85e0546a1b20",
        "maxBackoffPeriod": "10 mins",
        "name": "SplitJson",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1200,
          "y": -48
        },
        "properties": {
          "Max String Length": "20 MB",
          "Null Value Representation": "empty string",
          "JsonPath Expression": "[*]"
        },
        "propertyDescriptors": {
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "Null Value Representation": {
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "name": "Null Value Representation",
            "sensitive": false
          },
          "JsonPath Expression": {
            "displayName": "JsonPath Expression",
            "identifiesControllerService": false,
            "name": "JsonPath Expression",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-avro-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "ef2513eb-3aa0-3232-9f40-27e4dd2f09a4",
        "instanceIdentifier": "45947a10-875a-3d14-7182-0aed39c4695c",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertAvroToJSON",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 568,
          "y": -40
        },
        "properties": {
          "JSON container options": "array",
          "Wrap Single Record": "false"
        },
        "propertyDescriptors": {
          "JSON container options": {
            "displayName": "JSON container options",
            "identifiesControllerService": false,
            "name": "JSON container options",
            "sensitive": false
          },
          "Wrap Single Record": {
            "displayName": "Wrap Single Record",
            "identifiesControllerService": false,
            "name": "Wrap Single Record",
            "sensitive": false
          },
          "Avro schema": {
            "displayName": "Avro schema",
            "identifiesControllerService": false,
            "name": "Avro schema",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "98f1c866-1e14-3d04-8d7f-19b23d5a472a",
        "identifier": "a8723437-e108-3ab7-90e4-6f67cfedceab",
        "instanceIdentifier": "ff070589-734e-3be8-cf2e-4c728ecdec77",
        "maxBackoffPeriod": "10 mins",
        "name": "Fetch Data from customer",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -128,
          "y": -48
        },
        "properties": {
          "esql-max-rows": "0",
          "dbf-default-precision": "10",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "2f4f91b8-4214-3d55-873c-fcd2e3c01b9d",
          "esql-auto-commit": "true",
          "dbf-user-logical-types": "false",
          "dbf-default-scale": "0",
          "compression-format": "NONE",
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "select * from customers;",
          "dbf-normalize": "false"
        },
        "propertyDescriptors": {
          "esql-max-rows": {
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "name": "esql-max-rows",
            "sensitive": false
          },
          "dbf-default-precision": {
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "name": "dbf-default-precision",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "name": "Database Connection Pooling Service",
            "sensitive": false
          },
          "sql-post-query": {
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "name": "sql-post-query",
            "sensitive": false
          },
          "esql-auto-commit": {
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "name": "esql-auto-commit",
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "name": "dbf-user-logical-types",
            "sensitive": false
          },
          "dbf-default-scale": {
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "name": "dbf-default-scale",
            "sensitive": false
          },
          "sql-pre-query": {
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "name": "sql-pre-query",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "esql-output-batch-size": {
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "name": "esql-output-batch-size",
            "sensitive": false
          },
          "esql-fetch-size": {
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "name": "esql-fetch-size",
            "sensitive": false
          },
          "SQL select query": {
            "displayName": "SQL select query",
            "identifiesControllerService": false,
            "name": "SQL select query",
            "sensitive": false
          },
          "dbf-normalize": {
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "name": "dbf-normalize",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {
    "DBCP": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "DBCP",
      "parameters": [
        {
          "description": "",
          "name": "password",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "classname",
          "provided": false,
          "sensitive": false,
          "value": "org.postgresql.Driver"
        },
        {
          "description": "",
          "name": "location",
          "provided": false,
          "sensitive": false,
          "value": "/home/vaibhavks858/Downloads/postgresql-42.7.5.jar"
        },
        {
          "description": "",
          "name": "user",
          "provided": false,
          "sensitive": false,
          "value": "postgres"
        },
        {
          "description": "",
          "name": "url",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:postgresql://localhost:5432/postgres"
        }
      ]
    },
    "ControllerParameter": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [
        "ControllerParameter1"
      ],
      "name": "ControllerParameter",
      "parameters": [
        {
          "description": "",
          "name": "user2",
          "provided": false,
          "sensitive": false,
          "value": "Anil1"
        },
        {
          "description": "",
          "name": "a",
          "provided": false,
          "sensitive": false,
          "value": "zip12"
        },
        {
          "description": "asdasd",
          "name": "abc",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "zip",
          "provided": false,
          "sensitive": false,
          "value": "v"
        },
        {
          "description": "xyz",
          "name": "b",
          "provided": false,
          "sensitive": false
        },
        {
          "description": "",
          "name": "newProp23",
          "provided": false,
          "sensitive": false
        },
        {
          "description": "",
          "name": "user3",
          "provided": false,
          "sensitive": false,
          "value": "Hemant"
        },
        {
          "description": "",
          "name": "SV",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "user6",
          "provided": false,
          "sensitive": false,
          "value": "Sudhir"
        },
        {
          "description": "",
          "name": "url",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:mysql://ec2-13-202-61-133.ap-south-1.compute.amazonaws.com:3306/test"
        },
        {
          "description": "",
          "name": "new S",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "test5",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "test6",
          "provided": false,
          "sensitive": false,
          "value": ""
        },
        {
          "description": "",
          "name": "test3",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "s",
          "name": "s",
          "provided": false,
          "sensitive": false,
          "value": "test12"
        },
        {
          "description": "",
          "name": "test4",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "classname",
          "provided": false,
          "sensitive": false,
          "value": "com.mysql.jdbc.Driver"
        },
        {
          "description": "",
          "name": "sen value test",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "query_par",
          "provided": false,
          "sensitive": false,
          "value": "select * from orders;"
        },
        {
          "description": "",
          "name": "location",
          "provided": false,
          "sensitive": false,
          "value": "/home/ubuntu/mysql-connector-j-8.0.31.jar"
        },
        {
          "description": "",
          "name": "Sen Val",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "nifi data123",
          "provided": false,
          "sensitive": false
        },
        {
          "description": "",
          "name": "test10",
          "provided": false,
          "sensitive": false
        },
        {
          "description": "",
          "name": "sudhirtest",
          "provided": false,
          "sensitive": false,
          "value": ""
        },
        {
          "description": "",
          "name": "test1",
          "provided": false,
          "sensitive": false,
          "value": ""
        },
        {
          "description": "",
          "name": "test2",
          "provided": false,
          "sensitive": false
        },
        {
          "description": "",
          "name": "SensitiveValue",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "nifi data",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "data1123",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "newProp",
          "provided": false,
          "sensitive": false,
          "value": "newProp2"
        },
        {
          "description": "",
          "name": "naman testing data",
          "provided": false,
          "sensitive": true
        }
      ]
    },
    "ControllerParameter1": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "ControllerParameter1",
      "parameters": [
        {
          "description": "This is the correct Password",
          "name": "user",
          "provided": false,
          "sensitive": false,
          "value": "root123"
        },
        {
          "description": "",
          "name": "user4",
          "provided": false,
          "sensitive": false,
          "value": "moksh123"
        },
        {
          "description": "",
          "name": "user5",
          "provided": false,
          "sensitive": false,
          "value": "Vaibhav123"
        }
      ]
    }
  },
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "Test",
    "comments": "",
    "flowIdentifier": "NewSensor",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/25b94286-15e1-475a-9593-c8a16851cce9/versions/1",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1761325769330,
    "version": 1
  }
}