Test/S3toJDBC.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": false,
    "createdTimestamp": 1761325471943,
    "description": "",
    "identifier": "Test",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d",
      "params": {
        "rel": "self"
      }
    },
    "name": "Test",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "e53bab50-b433-4525-ae62-3d2def61788d",
    "bucketName": "Test",
    "createdTimestamp": 1769164130668,
    "description": "",
    "identifier": "S3toJDBC",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/072e09c1-3083-422d-9331-77958faec78e",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1769780270470,
    "name": "S3toJDBC",
    "type": "Flow",
    "versionCount": 2
  },
  "flowContents": {
    "comments": "Load files from S3 bucket into a MySQL database.",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbf-0196-1000-4c70-ee03516fd020",
          "instanceIdentifier": "9e307a68-3793-3de7-3684-cd1526908711",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd8-0196-1000-d4c9-6fbe4b0d1801",
        "instanceIdentifier": "ab16a697-d786-3c24-88bd-a3ca4494e4e4",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "unmatched"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbb-0196-1000-ed95-b86fed92654b",
          "instanceIdentifier": "8c6fbe93-a346-3404-6408-2d8558289828",
          "name": "Routes FlowFiles",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb9-0196-1000-d5af-4fec2cf7a56b",
          "instanceIdentifier": "b18cba34-7569-3651-e0e6-8570ff0beeb9",
          "name": "CsvToAvroConverter",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedce-0196-1000-349f-ceef5671d7dd",
        "instanceIdentifier": "2dfc7114-b13a-3c8c-5162-eb76bb2843aa",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "isCsv"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbb-0196-1000-ed95-b86fed92654b",
          "instanceIdentifier": "8c6fbe93-a346-3404-6408-2d8558289828",
          "name": "Routes FlowFiles",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbb-0196-1000-ed95-b86fed92654b",
          "instanceIdentifier": "8c6fbe93-a346-3404-6408-2d8558289828",
          "name": "Routes FlowFiles",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd2-0196-1000-7ce2-838dad09cca7",
        "instanceIdentifier": "b8a2ad81-b3f5-323b-42bf-c3fddef45e77",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbe-0196-1000-75a0-c77f587ded0f",
          "instanceIdentifier": "b96af813-fc02-333a-07db-bc31e2e19281",
          "name": "Fetching Actual Content",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
          "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
          "name": "WriteRecordToDestination",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd3-0196-1000-e1b1-120d522e5907",
        "instanceIdentifier": "f375f1be-9ef6-31ec-0d83-8f44f80f20b2",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb9-0196-1000-d5af-4fec2cf7a56b",
          "instanceIdentifier": "b18cba34-7569-3651-e0e6-8570ff0beeb9",
          "name": "CsvToAvroConverter",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedc1-0196-1000-29c2-389d75909424",
          "instanceIdentifier": "23ee9ab9-65f5-3c20-ad0a-e49383fc025c",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "65dcd728-632b-34be-b3e4-980b69bf710c",
        "instanceIdentifier": "a3382534-3371-3b49-fb13-c9f78a67f974",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb9-0196-1000-d5af-4fec2cf7a56b",
          "instanceIdentifier": "b18cba34-7569-3651-e0e6-8570ff0beeb9",
          "name": "CsvToAvroConverter",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [
          {
            "x": -1376,
            "y": -256
          },
          {
            "x": -2104,
            "y": -256
          },
          {
            "x": -2680,
            "y": -256
          }
        ],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
          "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
          "name": "WriteRecordToDestination",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "00aa72c0-35b7-3acd-936a-375cff7bd5ff",
        "instanceIdentifier": "814390dd-d239-3a9e-8ceb-39dd9269e768",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb7-0196-1000-5cb9-2a440827d293",
          "instanceIdentifier": "cf48af88-01bc-3a31-8376-5b96c6ea44c8",
          "name": "JsonToAvroConverter",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbe-0196-1000-75a0-c77f587ded0f",
          "instanceIdentifier": "b96af813-fc02-333a-07db-bc31e2e19281",
          "name": "Fetching Actual Content",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd1-0196-1000-5802-74c9dfceb4e7",
        "instanceIdentifier": "f43259a5-debf-3a12-dbef-d4fa434d573f",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb6-0196-1000-82e5-0a8985fc85f0",
          "instanceIdentifier": "837b0c43-69f7-39b9-db8f-2b54aadf69a8",
          "name": "SourceBucketScanner",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "10c7cf8a-bfb0-3948-b390-0924f566a774",
          "instanceIdentifier": "a93d22b5-6788-389b-bff2-55ae28ace64d",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "0b69fba9-3929-3516-a12e-9fb5b65e68a2",
        "instanceIdentifier": "de2bc3bb-ba8f-3dca-4e91-b22c25d94a20",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success",
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
          "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
          "name": "WriteRecordToDestination",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [
          {
            "x": -1376,
            "y": -848
          },
          {
            "x": -1376,
            "y": -736
          }
        ],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb7-0196-1000-5cb9-2a440827d293",
          "instanceIdentifier": "cf48af88-01bc-3a31-8376-5b96c6ea44c8",
          "name": "JsonToAvroConverter",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd5-0196-1000-5d29-728f991fea64",
        "instanceIdentifier": "caa10ee9-fbd9-3d48-b3d7-282045dcc3e6",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "IsJson"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbb-0196-1000-ed95-b86fed92654b",
          "instanceIdentifier": "8c6fbe93-a346-3404-6408-2d8558289828",
          "name": "Routes FlowFiles",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedba-0196-1000-9cfb-fe4706f09f5d",
          "instanceIdentifier": "17689ead-a283-30bb-5221-0be683f8398f",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd7-0196-1000-7236-02d7c903d1e4",
        "instanceIdentifier": "278a0f90-afeb-321b-04a2-f70282576103",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedbe-0196-1000-75a0-c77f587ded0f",
          "instanceIdentifier": "b96af813-fc02-333a-07db-bc31e2e19281",
          "name": "Fetching Actual Content",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedc0-0196-1000-5e82-2f15a30209e1",
          "instanceIdentifier": "e53b4c09-b274-3fcf-db43-120659484907",
          "name": "Funnel",
          "type": "FUNNEL"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedd4-0196-1000-9f0f-e45f2f8eae71",
        "instanceIdentifier": "3d593e1c-0629-3127-b483-63f3621129e3",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a49fedb7-0196-1000-5cb9-2a440827d293",
          "instanceIdentifier": "cf48af88-01bc-3a31-8376-5b96c6ea44c8",
          "name": "JsonToAvroConverter",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [
          {
            "x": -2369.64697265625,
            "y": -392
          },
          {
            "x": -2425.64697265625,
            "y": -320
          }
        ],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
          "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
          "name": "WriteRecordToDestination",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "2d7cafcb-0ed6-3ffd-a164-0fe5d31f588f",
        "instanceIdentifier": "361b91a2-2267-3c24-98f9-c4de1f1840d2",
        "labelIndex": 0,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "retry"
        ],
        "source": {
          "comments": "",
          "groupId": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
          "id": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
          "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
          "name": "WriteRecordToDestination",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-aws-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-aws-service-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
          },
          {
            "bundle": {
              "artifact": "nifi-aws-service-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb0-0196-1000-0fb8-151bc0c58805",
        "instanceIdentifier": "f7f010ca-0efc-30ef-f050-f801bb505fba",
        "name": "AWSCredentialsProviderControllerService",
        "properties": {
          "Access Key": "#{AccessKeyID}",
          "default-credentials": "false",
          "Session Time": "3600",
          "assume-role-sts-signer-override": "Default Signature",
          "assume-role-sts-region": "us-west-2",
          "Secret Key": "#{SecretAccessKey}",
          "anonymous-credentials": "false"
        },
        "propertyDescriptors": {
          "profile-name": {
            "displayName": "Profile Name",
            "identifiesControllerService": false,
            "name": "profile-name",
            "sensitive": false
          },
          "Access Key": {
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "name": "Access Key",
            "sensitive": true
          },
          "assume-role-proxy-host": {
            "displayName": "Assume Role Proxy Host",
            "identifiesControllerService": false,
            "name": "assume-role-proxy-host",
            "sensitive": false
          },
          "default-credentials": {
            "displayName": "Use Default Credentials",
            "identifiesControllerService": false,
            "name": "default-credentials",
            "sensitive": false
          },
          "Session Time": {
            "displayName": "Assume Role Session Time",
            "identifiesControllerService": false,
            "name": "Session Time",
            "sensitive": false
          },
          "assume-role-proxy-port": {
            "displayName": "Assume Role Proxy Port",
            "identifiesControllerService": false,
            "name": "assume-role-proxy-port",
            "sensitive": false
          },
          "assume-role-ssl-context-service": {
            "displayName": "Assume Role SSL Context Service",
            "identifiesControllerService": true,
            "name": "assume-role-ssl-context-service",
            "sensitive": false
          },
          "assume-role-sts-signer-override": {
            "displayName": "Assume Role STS Signer Override",
            "identifiesControllerService": false,
            "name": "assume-role-sts-signer-override",
            "sensitive": false
          },
          "custom-signer-class-name": {
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "name": "custom-signer-class-name",
            "sensitive": false
          },
          "Assume Role ARN": {
            "displayName": "Assume Role ARN",
            "identifiesControllerService": false,
            "name": "Assume Role ARN",
            "sensitive": false
          },
          "custom-signer-module-location": {
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "name": "custom-signer-module-location",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "Assume Role Session Name": {
            "displayName": "Assume Role Session Name",
            "identifiesControllerService": false,
            "name": "Assume Role Session Name",
            "sensitive": false
          },
          "assume-role-sts-endpoint": {
            "displayName": "Assume Role STS Endpoint Override",
            "identifiesControllerService": false,
            "name": "assume-role-sts-endpoint",
            "sensitive": false
          },
          "assume-role-sts-region": {
            "displayName": "Assume Role STS Region",
            "identifiesControllerService": false,
            "name": "assume-role-sts-region",
            "sensitive": false
          },
          "Secret Key": {
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "name": "Secret Key",
            "sensitive": true
          },
          "Credentials File": {
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "name": "Credentials File",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "assume-role-external-id": {
            "displayName": "Assume Role External ID",
            "identifiesControllerService": false,
            "name": "assume-role-external-id",
            "sensitive": false
          },
          "anonymous-credentials": {
            "displayName": "Use Anonymous Credentials",
            "identifiesControllerService": false,
            "name": "anonymous-credentials",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb2-0196-1000-6c28-f82535d8c069",
        "instanceIdentifier": "896ed374-c955-3836-4f49-526e199ec444",
        "name": "AvroReader",
        "properties": {
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-access-strategy": "embedded-avro-schema",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "cache-size": {
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "name": "cache-size",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.avro.AvroReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb3-0196-1000-9a51-cc9642385eb4",
        "instanceIdentifier": "da8b1241-a72e-359a-fc83-161a5d6b29de",
        "name": "AvroRecordSetWriter",
        "properties": {
          "compression-format": "NONE",
          "Schema Write Strategy": "avro-embedded",
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "encoder-pool-size": "32",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "cache-size": {
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "name": "cache-size",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "encoder-pool-size": {
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "name": "encoder-pool-size",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-dbcp-service-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.dbcp.DBCPService"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "aa68ab0d-6960-39ab-85d2-40c6634151f6",
        "instanceIdentifier": "d2ddb745-6adf-374a-d72b-536c84b9dcfb",
        "name": "DBCPConnectionPool",
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "#{SqlDriverClassName}",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Database Connection URL": "#{SqlConnectionUrl}",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "#{SqlUserName}",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "#{SqlDriverLocation}",
          "dbcp-max-idle-conns": "8",
          "Password": "#{Sql-Password}"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "name": "kerberos-password",
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-min-idle-conns",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Driver Class Name": {
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "name": "Database Driver Class Name",
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-min-evictable-idle-time",
            "sensitive": false
          },
          "kerberos-principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "kerberos-principal",
            "sensitive": false
          },
          "Max Total Connections": {
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "name": "Max Total Connections",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "name": "dbcp-max-conn-lifetime",
            "sensitive": false
          },
          "Validation-query": {
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "name": "Validation-query",
            "sensitive": false
          },
          "Database Connection URL": {
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "name": "Database Connection URL",
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "name": "dbcp-time-between-eviction-runs",
            "sensitive": false
          },
          "Database User": {
            "displayName": "Database User",
            "identifiesControllerService": false,
            "name": "Database User",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-soft-min-evictable-idle-time",
            "sensitive": false
          },
          "database-driver-locations": {
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "name": "database-driver-locations",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "URL",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "dbcp-max-idle-conns": {
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-max-idle-conns",
            "sensitive": false
          },
          "Password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "Password",
            "sensitive": true
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb1-0196-1000-6a02-2250d90aad6e",
        "instanceIdentifier": "78862ddf-f7c5-3d45-ac35-82b5098515bb",
        "name": "CSVReader",
        "properties": {
          "ignore-csv-header": "false",
          "Trim double quote": "true",
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Skip Header Line": "false",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "csv-reader-csv-parser": "commons-csv",
          "schema-access-strategy": "infer-schema",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "name": "ignore-csv-header",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Trim double quote": {
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "name": "Trim double quote",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "name": "csvutils-allow-duplicate-header-names",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Skip Header Line": {
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "name": "Skip Header Line",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "name": "csv-reader-csv-parser",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedaf-0196-1000-a6eb-96352ce0ae9f",
        "instanceIdentifier": "e6443733-59d3-3a25-050f-e15bc3531d8f",
        "name": "JsonTreeReader",
        "properties": {
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-access-strategy": "infer-schema",
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "schema-application-strategy": {
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "name": "schema-application-strategy",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "schema-inference-cache": {
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "name": "schema-inference-cache",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "starting-field-strategy": {
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "name": "starting-field-strategy",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "starting-field-name": {
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "name": "starting-field-name",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Allow Comments": {
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "name": "Allow Comments",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonTreeReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "2e48a057-cf03-36bb-ac85-b46856c7e544",
        "instanceIdentifier": "8125082a-6b09-3d60-df45-28a3e188255b",
        "name": "AvroRecordSetWriter",
        "properties": {
          "compression-format": "NONE",
          "Schema Write Strategy": "avro-embedded",
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "encoder-pool-size": "32",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "cache-size": {
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "name": "cache-size",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "encoder-pool-size": {
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "name": "encoder-pool-size",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "b02fbae1-0e16-3d59-aeb6-e8fc6d798820",
        "instanceIdentifier": "736651a3-b343-350f-e78f-90cf8f8497ea",
        "name": "CSVReader",
        "properties": {
          "ignore-csv-header": "false",
          "Trim double quote": "true",
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Escape Character": "\\",
          "Skip Header Line": "false",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "csv-reader-csv-parser": "commons-csv",
          "schema-access-strategy": "infer-schema",
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "name": "ignore-csv-header",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Trim double quote": {
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "name": "Trim double quote",
            "sensitive": false
          },
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "name": "csvutils-allow-duplicate-header-names",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Skip Header Line": {
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "name": "Skip Header Line",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "name": "csv-reader-csv-parser",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVReader"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedc0-0196-1000-5e82-2f15a30209e1",
        "instanceIdentifier": "e53b4c09-b274-3fcf-db43-120659484907",
        "position": {
          "x": -880,
          "y": -512
        }
      },
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedc1-0196-1000-29c2-389d75909424",
        "instanceIdentifier": "23ee9ab9-65f5-3c20-ad0a-e49383fc025c",
        "position": {
          "x": -1944,
          "y": -328
        }
      },
      {
        "componentType": "FUNNEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedbf-0196-1000-4c70-ee03516fd020",
        "instanceIdentifier": "9e307a68-3793-3de7-3684-cd1526908711",
        "position": {
          "x": -1944,
          "y": -1096
        }
      }
    ],
    "identifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
    "inputPorts": [],
    "instanceIdentifier": "0f1d09be-019c-1000-5502-4293f113531c",
    "labels": [
      {
        "componentType": "LABEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "height": 80,
        "identifier": "d559e78e-97bb-34ae-beea-21785031b872",
        "instanceIdentifier": "03217060-7cfd-3685-ee8c-04fa9ac05607",
        "label": "Routing the flowfiles for avro format conversion",
        "position": {
          "x": -1728,
          "y": -952
        },
        "style": {
          "font-size": "14px"
        },
        "width": 312,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "height": 96,
        "identifier": "a49fedc3-0196-1000-8be1-8644db623c87",
        "instanceIdentifier": "262c46aa-0f56-3b99-b17f-01224bdb1651",
        "label": "We need to use FetchS3Object because files listed by ListS3 processor will have \nonly attributes, not content.\nSo this processor downloads/fetches the content of file and \nplace inside it.",
        "position": {
          "x": -2968,
          "y": -760
        },
        "style": {
          "font-size": "14px"
        },
        "width": 528,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "height": 96,
        "identifier": "a49fedc6-0196-1000-6ff7-21fc6c63669f",
        "instanceIdentifier": "9b5ee1e5-2778-30f6-9d92-646ce63e9070",
        "label": "This processor fetches the file that are present inside the specified bucket (source bucket).\nInside properties we need to define :\n-> bucket name \n-> AWS Credentials provider Service\n-> Endpoint URL",
        "position": {
          "x": -4216,
          "y": -896
        },
        "style": {
          "font-size": "14px"
        },
        "width": 600,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "height": 56,
        "identifier": "af5ff0e9-78b9-3be6-b6dc-bf2699b39992",
        "instanceIdentifier": "b643eab5-b324-307d-bda9-d2834ea7cf8a",
        "label": "Placing records in MySQL database table.",
        "position": {
          "x": -2944,
          "y": -408
        },
        "style": {
          "font-size": "12px"
        },
        "width": 248,
        "zIndex": 0
      }
    ],
    "name": "S3_To_MySQL",
    "outputPorts": [],
    "parameterContextName": "S3 To MySQL",
    "position": {
      "x": -442.82391260049724,
      "y": 734.6785704375271
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedba-0196-1000-9cfb-fe4706f09f5d",
        "instanceIdentifier": "17689ead-a283-30bb-5221-0be683f8398f",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -2856,
          "y": -1152
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb7-0196-1000-5cb9-2a440827d293",
        "instanceIdentifier": "cf48af88-01bc-3a31-8376-5b96c6ea44c8",
        "maxBackoffPeriod": "10 mins",
        "name": "JsonToAvroConverter",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -1552,
          "y": -552
        },
        "properties": {
          "record-writer": "2e48a057-cf03-36bb-ac85-b46856c7e544",
          "record-reader": "a49fedaf-0196-1000-a6eb-96352ce0ae9f",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb9-0196-1000-d5af-4fec2cf7a56b",
        "instanceIdentifier": "b18cba34-7569-3651-e0e6-8570ff0beeb9",
        "maxBackoffPeriod": "10 mins",
        "name": "CsvToAvroConverter",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -2096,
          "y": -552
        },
        "properties": {
          "record-writer": "2e48a057-cf03-36bb-ac85-b46856c7e544",
          "record-reader": "b02fbae1-0e16-3d59-aeb6-e8fc6d798820",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-aws-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "PRIMARY",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedb6-0196-1000-82e5-0a8985fc85f0",
        "instanceIdentifier": "837b0c43-69f7-39b9-db8f-2b54aadf69a8",
        "maxBackoffPeriod": "10 mins",
        "name": "SourceBucketScanner",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -3560,
          "y": -912
        },
        "properties": {
          "list-type": "1",
          "et-initial-listing-target": "all",
          "Endpoint Override URL": "#{EndpointOverrideURL}",
          "et-time-window": "3 hours",
          "requester-pays": "false",
          "listing-strategy": "timestamps",
          "Signer Override": "Default Signature",
          "min-age": "0 sec",
          "write-s3-user-metadata": "false",
          "AWS Credentials Provider service": "a49fedb0-0196-1000-0fb8-151bc0c58805",
          "Listing Batch Size": "100",
          "write-s3-object-tags": "false",
          "Bucket": "#{S3SourceBucket}",
          "Communications Timeout": "30 secs",
          "Region": "us-west-2",
          "use-versions": "false"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "name": "Proxy Host",
            "sensitive": false
          },
          "list-type": {
            "displayName": "List Type",
            "identifiesControllerService": false,
            "name": "list-type",
            "sensitive": false
          },
          "et-initial-listing-target": {
            "displayName": "Entity Tracking Initial Listing Target",
            "identifiesControllerService": false,
            "name": "et-initial-listing-target",
            "sensitive": false
          },
          "Access Key": {
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "name": "Access Key",
            "sensitive": true
          },
          "prefix": {
            "displayName": "Prefix",
            "identifiesControllerService": false,
            "name": "prefix",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "proxy-configuration-service": {
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "name": "proxy-configuration-service",
            "sensitive": false
          },
          "Endpoint Override URL": {
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "name": "Endpoint Override URL",
            "sensitive": false
          },
          "et-time-window": {
            "displayName": "Entity Tracking Time Window",
            "identifiesControllerService": false,
            "name": "et-time-window",
            "sensitive": false
          },
          "custom-signer-class-name": {
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "name": "custom-signer-class-name",
            "sensitive": false
          },
          "requester-pays": {
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "name": "requester-pays",
            "sensitive": false
          },
          "custom-signer-module-location": {
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "name": "custom-signer-module-location",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "listing-strategy": {
            "displayName": "Listing Strategy",
            "identifiesControllerService": false,
            "name": "listing-strategy",
            "sensitive": false
          },
          "Signer Override": {
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "name": "Signer Override",
            "sensitive": false
          },
          "delimiter": {
            "displayName": "Delimiter",
            "identifiesControllerService": false,
            "name": "delimiter",
            "sensitive": false
          },
          "proxy-user-password": {
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "name": "proxy-user-password",
            "sensitive": true
          },
          "Secret Key": {
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "name": "Secret Key",
            "sensitive": true
          },
          "min-age": {
            "displayName": "Minimum Object Age",
            "identifiesControllerService": false,
            "name": "min-age",
            "sensitive": false
          },
          "write-s3-user-metadata": {
            "displayName": "Write User Metadata",
            "identifiesControllerService": false,
            "name": "write-s3-user-metadata",
            "sensitive": false
          },
          "max-age": {
            "displayName": "Maximum Object Age",
            "identifiesControllerService": false,
            "name": "max-age",
            "sensitive": false
          },
          "AWS Credentials Provider service": {
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "name": "AWS Credentials Provider service",
            "sensitive": false
          },
          "Listing Batch Size": {
            "displayName": "Listing Batch Size",
            "identifiesControllerService": false,
            "name": "Listing Batch Size",
            "sensitive": false
          },
          "SSL Context Service": {
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "name": "SSL Context Service",
            "sensitive": false
          },
          "write-s3-object-tags": {
            "displayName": "Write Object Tags",
            "identifiesControllerService": false,
            "name": "write-s3-object-tags",
            "sensitive": false
          },
          "Bucket": {
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "name": "Bucket",
            "sensitive": false
          },
          "Communications Timeout": {
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "name": "Communications Timeout",
            "sensitive": false
          },
          "Region": {
            "displayName": "Region",
            "identifiesControllerService": false,
            "name": "Region",
            "sensitive": false
          },
          "Credentials File": {
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "name": "Credentials File",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "et-state-cache": {
            "displayName": "Entity Tracking State Cache",
            "identifiesControllerService": true,
            "name": "et-state-cache",
            "sensitive": false
          },
          "proxy-user-name": {
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "name": "proxy-user-name",
            "sensitive": false
          },
          "Proxy Host Port": {
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "name": "Proxy Host Port",
            "sensitive": false
          },
          "use-versions": {
            "displayName": "Use Versions",
            "identifiesControllerService": false,
            "name": "use-versions",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.aws.s3.ListS3",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-aws-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedbe-0196-1000-75a0-c77f587ded0f",
        "instanceIdentifier": "b96af813-fc02-333a-07db-bc31e2e19281",
        "maxBackoffPeriod": "10 mins",
        "name": "Fetching Actual Content",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -2856,
          "y": -912
        },
        "properties": {
          "Endpoint Override URL": "#{EndpointOverrideURL}",
          "requester-pays": "false",
          "Object Key": "${filename}",
          "AWS Credentials Provider service": "a49fedb0-0196-1000-0fb8-151bc0c58805",
          "Signer Override": "Default Signature",
          "Bucket": "${s3.bucket}",
          "Communications Timeout": "30 secs",
          "Region": "us-west-2"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "name": "Proxy Host",
            "sensitive": false
          },
          "range-length": {
            "displayName": "Range Length",
            "identifiesControllerService": false,
            "name": "range-length",
            "sensitive": false
          },
          "Access Key": {
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "name": "Access Key",
            "sensitive": true
          },
          "range-start": {
            "displayName": "Range Start",
            "identifiesControllerService": false,
            "name": "range-start",
            "sensitive": false
          },
          "proxy-configuration-service": {
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "name": "proxy-configuration-service",
            "sensitive": false
          },
          "Endpoint Override URL": {
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "name": "Endpoint Override URL",
            "sensitive": false
          },
          "custom-signer-class-name": {
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "name": "custom-signer-class-name",
            "sensitive": false
          },
          "requester-pays": {
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "name": "requester-pays",
            "sensitive": false
          },
          "Object Key": {
            "displayName": "Object Key",
            "identifiesControllerService": false,
            "name": "Object Key",
            "sensitive": false
          },
          "AWS Credentials Provider service": {
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "name": "AWS Credentials Provider service",
            "sensitive": false
          },
          "custom-signer-module-location": {
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "name": "custom-signer-module-location",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "SSL Context Service": {
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "name": "SSL Context Service",
            "sensitive": false
          },
          "Signer Override": {
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "name": "Signer Override",
            "sensitive": false
          },
          "Bucket": {
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "name": "Bucket",
            "sensitive": false
          },
          "Version": {
            "displayName": "Version",
            "identifiesControllerService": false,
            "name": "Version",
            "sensitive": false
          },
          "proxy-user-password": {
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "name": "proxy-user-password",
            "sensitive": true
          },
          "Communications Timeout": {
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "name": "Communications Timeout",
            "sensitive": false
          },
          "Region": {
            "displayName": "Region",
            "identifiesControllerService": false,
            "name": "Region",
            "sensitive": false
          },
          "Secret Key": {
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "name": "Secret Key",
            "sensitive": true
          },
          "Credentials File": {
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "name": "Credentials File",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "proxy-user-name": {
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "name": "proxy-user-name",
            "sensitive": false
          },
          "Proxy Host Port": {
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "name": "Proxy Host Port",
            "sensitive": false
          },
          "encryption-service": {
            "displayName": "Encryption Service",
            "identifiesControllerService": true,
            "name": "encryption-service",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a49fedbb-0196-1000-ed95-b86fed92654b",
        "instanceIdentifier": "8c6fbe93-a346-3404-6408-2d8558289828",
        "maxBackoffPeriod": "10 mins",
        "name": "Routes FlowFiles",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -2096,
          "y": -912
        },
        "properties": {
          "isCsv": "${filename:substringAfterLast('.'):equals('csv')}",
          "Routing Strategy": "Route to Property name",
          "IsJson": "${filename:substringAfterLast('.'):equals('json')}"
        },
        "propertyDescriptors": {
          "isCsv": {
            "displayName": "isCsv",
            "identifiesControllerService": false,
            "name": "isCsv",
            "sensitive": false
          },
          "Routing Strategy": {
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "name": "Routing Strategy",
            "sensitive": false
          },
          "IsJson": {
            "displayName": "IsJson",
            "identifiesControllerService": false,
            "name": "IsJson",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "a4ace0b2-0196-1000-a354-80bcbb524f0f",
        "instanceIdentifier": "1b1991e3-604f-39dd-86c2-0c3bc6abbf1f",
        "maxBackoffPeriod": "2 sec",
        "name": "WriteRecordToDestination",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -2856,
          "y": -552
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "table-schema-cache-size": "100",
          "put-db-record-quoted-table-identifiers": "false",
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "aa68ab0d-6960-39ab-85d2-40c6634151f6",
          "put-db-record-query-timeout": "0 seconds",
          "rollback-on-failure": "false",
          "put-db-record-statement-type": "INSERT",
          "put-db-record-binary-format": "UTF-8",
          "db-type": "Generic",
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-table-name": "#{SqlTable}",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "put-db-record-record-reader": "a49fedb2-0196-1000-6c28-f82535d8c069",
          "database-session-autocommit": "false"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "name": "put-db-record-allow-multiple-statements",
            "sensitive": false
          },
          "table-schema-cache-size": {
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "name": "table-schema-cache-size",
            "sensitive": false
          },
          "put-db-record-schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "put-db-record-schema-name",
            "sensitive": false
          },
          "put-db-record-field-containing-sql": {
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "name": "put-db-record-field-containing-sql",
            "sensitive": false
          },
          "put-db-record-quoted-table-identifiers": {
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "name": "put-db-record-quoted-table-identifiers",
            "sensitive": false
          },
          "Statement Type Record Path": {
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "name": "Statement Type Record Path",
            "sensitive": false
          },
          "put-db-record-unmatched-column-behavior": {
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "name": "put-db-record-unmatched-column-behavior",
            "sensitive": false
          },
          "put-db-record-catalog-name": {
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "name": "put-db-record-catalog-name",
            "sensitive": false
          },
          "put-db-record-translate-field-names": {
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "name": "put-db-record-translate-field-names",
            "sensitive": false
          },
          "put-db-record-dcbp-service": {
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "name": "put-db-record-dcbp-service",
            "sensitive": false
          },
          "put-db-record-query-timeout": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "put-db-record-query-timeout",
            "sensitive": false
          },
          "rollback-on-failure": {
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "name": "rollback-on-failure",
            "sensitive": false
          },
          "put-db-record-statement-type": {
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "name": "put-db-record-statement-type",
            "sensitive": false
          },
          "put-db-record-binary-format": {
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "name": "put-db-record-binary-format",
            "sensitive": false
          },
          "db-type": {
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "name": "db-type",
            "sensitive": false
          },
          "put-db-record-update-keys": {
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "name": "put-db-record-update-keys",
            "sensitive": false
          },
          "put-db-record-quoted-identifiers": {
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "name": "put-db-record-quoted-identifiers",
            "sensitive": false
          },
          "put-db-record-table-name": {
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "name": "put-db-record-table-name",
            "sensitive": false
          },
          "put-db-record-unmatched-field-behavior": {
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "name": "put-db-record-unmatched-field-behavior",
            "sensitive": false
          },
          "put-db-record-max-batch-size": {
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "name": "put-db-record-max-batch-size",
            "sensitive": false
          },
          "put-db-record-record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "put-db-record-record-reader",
            "sensitive": false
          },
          "Data Record Path": {
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "name": "Data Record Path",
            "sensitive": false
          },
          "database-session-autocommit": {
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "name": "database-session-autocommit",
            "sensitive": false
          }
        },
        "retriedRelationships": [
          "retry"
        ],
        "retryCount": 3,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "1 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "29edb0dc-b055-3bdd-957f-2d1ee62469f8",
        "identifier": "10c7cf8a-bfb0-3948-b390-0924f566a774",
        "instanceIdentifier": "a93d22b5-6788-389b-bff2-55ae28ace64d",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -3560,
          "y": -552
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {
    "S3 To MySQL": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "S3 To MySQL",
      "parameters": [
        {
          "description": "",
          "name": "S3SourceBucket",
          "provided": false,
          "sensitive": false,
          "value": "nifi-bucket"
        },
        {
          "description": "",
          "name": "AccessKeyID",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "SqlTable",
          "provided": false,
          "sensitive": false,
          "value": "user_info"
        },
        {
          "description": "",
          "name": "SqlUserName",
          "provided": false,
          "sensitive": false,
          "value": "root"
        },
        {
          "description": "",
          "name": "SecretAccessKey",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "SqlDriverLocation",
          "provided": false,
          "sensitive": false,
          "value": "/opt/sql/mysql-connector-j-8.3.0"
        },
        {
          "description": "",
          "name": "EndpointOverrideURL",
          "provided": false,
          "sensitive": false,
          "value": "http://3.108.212.229:9000"
        },
        {
          "description": "",
          "name": "SqlDriverClassName",
          "provided": false,
          "sensitive": false,
          "value": "com.mysql.cj.jdbc.Driver"
        },
        {
          "description": "",
          "name": "Sql-Password",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "SqlConnectionUrl",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:mysql://localhost:3306/nifi_test?allowPublicKeyRetrieval=true&useSSL=false"
        }
      ]
    }
  },
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "Test",
    "comments": "working version",
    "flowIdentifier": "S3toJDBC",
    "link": {
      "href": "buckets/e53bab50-b433-4525-ae62-3d2def61788d/flows/072e09c1-3083-422d-9331-77958faec78e/versions/2",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1769780270223,
    "version": 2
  }
}