Data Ingestion/ProcessorState.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": true,
    "createdTimestamp": 1760093125341,
    "description": "",
    "identifier": "Data Ingestion",
    "link": {
      "href": "buckets/078c2ec2-db39-4bc9-9652-6f1b0f7eadd9",
      "params": {
        "rel": "self"
      }
    },
    "name": "Data Ingestion",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "078c2ec2-db39-4bc9-9652-6f1b0f7eadd9",
    "bucketName": "Data Ingestion",
    "createdTimestamp": 1760423033517,
    "description": "",
    "identifier": "ProcessorState",
    "link": {
      "href": "buckets/078c2ec2-db39-4bc9-9652-6f1b0f7eadd9/flows/afd3e5d4-72bb-4a6e-a35d-536048c464c0",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1776848364786,
    "name": "ProcessorState",
    "type": "Flow",
    "versionCount": 6
  },
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "c208b024-5719-315f-aae5-d9f219da273c",
          "instanceIdentifier": "d9f93c95-a394-1106-2788-2f4932a16b56",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "a7cbf14f-e239-3f72-9cfd-3ed65bc83b6b",
        "instanceIdentifier": "d9f93c9d-a394-1106-77de-431d58efe8bf",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure",
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "7e238d83-f175-3c50-8ff9-3c55b38f2cb3",
          "instanceIdentifier": "d9f93c9a-a394-1106-8528-24e9c88edd27",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "c208b024-5719-315f-aae5-d9f219da273c",
          "instanceIdentifier": "d9f93c95-a394-1106-2788-2f4932a16b56",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "8d33a91d-dfe2-3ed6-8092-3267bbe59437",
        "instanceIdentifier": "d9f93c9c-a394-1106-b21d-222e135294bb",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "ba186f8b-d822-3dc7-960d-a9898b6dc0ce",
          "instanceIdentifier": "d9f93c99-a394-1106-0075-b4dd6933d317",
          "name": "ExecuteSQL",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "7e238d83-f175-3c50-8ff9-3c55b38f2cb3",
          "instanceIdentifier": "d9f93c9a-a394-1106-8528-24e9c88edd27",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "1f732fa8-63ca-3f35-b4e2-295713acea79",
        "instanceIdentifier": "d9f93c9b-a394-1106-1a73-5b1dcc1df9cd",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "eb2779b1-0b9d-376e-b089-98122469c2a9",
          "id": "ba186f8b-d822-3dc7-960d-a9898b6dc0ce",
          "instanceIdentifier": "d9f93c99-a394-1106-0075-b4dd6933d317",
          "name": "ExecuteSQL",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-dbcp-service-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.dbcp.DBCPService"
          }
        ],
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "0ca50aa3-43e9-3736-a2bb-d637b0f83d4b",
        "instanceIdentifier": "d9f93c9f-a394-1106-be0a-66421f8e13e9",
        "name": "DBCPConnectionPool",
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "#{DataBaseDriverClass}",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Database Connection URL": "#{DataBaseConnectionUrl}",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "#{DataBaseUser}",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "#{DataBaseDriverLocation}",
          "dbcp-max-idle-conns": "8",
          "Password": "#{DBPassword}"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "name": "kerberos-password",
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-min-idle-conns",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Driver Class Name": {
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "name": "Database Driver Class Name",
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-min-evictable-idle-time",
            "sensitive": false
          },
          "kerberos-principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "kerberos-principal",
            "sensitive": false
          },
          "Max Total Connections": {
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "name": "Max Total Connections",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "name": "dbcp-max-conn-lifetime",
            "sensitive": false
          },
          "Validation-query": {
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "name": "Validation-query",
            "sensitive": false
          },
          "Database Connection URL": {
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "name": "Database Connection URL",
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "name": "dbcp-time-between-eviction-runs",
            "sensitive": false
          },
          "Database User": {
            "displayName": "Database User",
            "identifiesControllerService": false,
            "name": "Database User",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "name": "dbcp-soft-min-evictable-idle-time",
            "sensitive": false
          },
          "database-driver-locations": {
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "name": "database-driver-locations",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "URL",
                "FILE"
              ]
            },
            "sensitive": false
          },
          "dbcp-max-idle-conns": {
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "name": "dbcp-max-idle-conns",
            "sensitive": false
          },
          "Password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "Password",
            "sensitive": true
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [],
    "identifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
    "inputPorts": [],
    "instanceIdentifier": "d9f93c91-a394-1106-3e79-3dc129708d6c",
    "labels": [],
    "logFileSuffix": "",
    "name": "ProcessorState",
    "outputPorts": [],
    "parameterContextName": "Processor State",
    "position": {
      "x": -197.28202329866417,
      "y": 951.4968411248548
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "ba186f8b-d822-3dc7-960d-a9898b6dc0ce",
        "instanceIdentifier": "d9f93c99-a394-1106-0075-b4dd6933d317",
        "maxBackoffPeriod": "10 mins",
        "name": "ExecuteSQL",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 184,
          "y": 0
        },
        "properties": {
          "esql-max-rows": "0",
          "dbf-default-precision": "10",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "0ca50aa3-43e9-3736-a2bb-d637b0f83d4b",
          "esql-auto-commit": "true",
          "dbf-user-logical-types": "false",
          "dbf-default-scale": "0",
          "compression-format": "NONE",
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "${Query}",
          "dbf-normalize": "false"
        },
        "propertyDescriptors": {
          "esql-max-rows": {
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "name": "esql-max-rows",
            "sensitive": false
          },
          "dbf-default-precision": {
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "name": "dbf-default-precision",
            "sensitive": false
          },
          "Max Wait Time": {
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "name": "Max Wait Time",
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "name": "Database Connection Pooling Service",
            "sensitive": false
          },
          "sql-post-query": {
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "name": "sql-post-query",
            "sensitive": false
          },
          "esql-auto-commit": {
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "name": "esql-auto-commit",
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "name": "dbf-user-logical-types",
            "sensitive": false
          },
          "dbf-default-scale": {
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "name": "dbf-default-scale",
            "sensitive": false
          },
          "sql-pre-query": {
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "name": "sql-pre-query",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "esql-output-batch-size": {
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "name": "esql-output-batch-size",
            "sensitive": false
          },
          "esql-fetch-size": {
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "name": "esql-fetch-size",
            "sensitive": false
          },
          "SQL select query": {
            "displayName": "SQL select query",
            "identifiesControllerService": false,
            "name": "SQL select query",
            "sensitive": false
          },
          "dbf-normalize": {
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "name": "dbf-normalize",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "c208b024-5719-315f-aae5-d9f219da273c",
        "instanceIdentifier": "d9f93c95-a394-1106-2788-2f4932a16b56",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 736,
          "y": 144
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "DISABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "eb2779b1-0b9d-376e-b089-98122469c2a9",
        "identifier": "7e238d83-f175-3c50-8ff9-3c55b38f2cb3",
        "instanceIdentifier": "d9f93c9a-a394-1106-8528-24e9c88edd27",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 184,
          "y": 288
        },
        "properties": {
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {
      "Query": "Select * from customers;"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {
    "Processor State": {
      "componentType": "PARAMETER_CONTEXT",
      "inheritedParameterContexts": [],
      "name": "Processor State",
      "parameters": [
        {
          "description": "",
          "name": "DataBaseDriverLocation",
          "provided": false,
          "sensitive": false,
          "value": "/home/ubuntu/mysql-connector-j-8.0.31.jar"
        },
        {
          "description": "",
          "name": "DBPassword",
          "provided": false,
          "sensitive": true
        },
        {
          "description": "",
          "name": "DataBaseDriverClass",
          "provided": false,
          "sensitive": false,
          "value": "com.mysql.cj.jdbc.Driver"
        },
        {
          "description": "",
          "name": "DataBaseConnectionUrl",
          "provided": false,
          "sensitive": false,
          "value": "jdbc:mysql://ec2-3-111-75-92.ap-south-1.compute.amazonaws.com:3306/ecommerce"
        },
        {
          "description": "",
          "name": "DataBaseUser",
          "provided": false,
          "sensitive": false,
          "value": "ecommerce_admin"
        }
      ]
    }
  },
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "Data Ingestion",
    "comments": "",
    "flowIdentifier": "ProcessorState",
    "link": {
      "href": "buckets/078c2ec2-db39-4bc9-9652-6f1b0f7eadd9/flows/afd3e5d4-72bb-4a6e-a35d-536048c464c0/versions/1",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1760423033608,
    "version": 1
  }
}