DFM_Testing/FlowMultipleVersions1.json
{
  "bucket": {
    "allowBundleRedeploy": false,
    "allowPublicRead": true,
    "createdTimestamp": 1760426529343,
    "description": "",
    "identifier": "DFM_Testing",
    "link": {
      "href": "buckets/033d219e-9ef9-4b36-bc0d-6777188fba78",
      "params": {
        "rel": "self"
      }
    },
    "name": "DFM_Testing",
    "permissions": {
      "canDelete": true,
      "canRead": true,
      "canWrite": true
    }
  },
  "externalControllerServices": {},
  "flow": {
    "bucketIdentifier": "033d219e-9ef9-4b36-bc0d-6777188fba78",
    "bucketName": "DFM_Testing",
    "createdTimestamp": 1760429283344,
    "description": "",
    "identifier": "FlowMultipleVersions1",
    "link": {
      "href": "buckets/033d219e-9ef9-4b36-bc0d-6777188fba78/flows/4902ed61-32ec-4fce-a0de-8a25a0afb633",
      "params": {
        "rel": "self"
      }
    },
    "modifiedTimestamp": 1776664583460,
    "name": "FlowMultipleVersions1",
    "type": "Flow",
    "versionCount": 6
  },
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "94ae0c55-ab87-3217-b706-20bea055ec7f",
          "instanceIdentifier": "d9f93cc3-a394-1106-175a-6cd2b0418cf4",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "c4213581-4cbf-399b-961d-5080b7246595",
        "instanceIdentifier": "d9f93cc4-a394-1106-6a97-895830bf554d",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "d0938965-0407-3d80-9a09-c69be858db75",
          "instanceIdentifier": "d9f93cb9-a394-1106-eb90-9448e33d0ca6",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "f5edac16-9bb7-33ab-8661-67617b4a2431",
          "instanceIdentifier": "d9f93cbb-a394-1106-0470-d762809e3090",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "7318a46a-ac45-3a62-ba55-17b09b12e9f6",
        "instanceIdentifier": "eae3f5dc-1785-3b3a-b160-b03943bc0d19",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "5841e277-40ca-34a2-9df0-1877d28ab5ac",
          "instanceIdentifier": "27305314-f099-3b2b-83f2-9505e334dd13",
          "name": "GenerateFlowFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "d0938965-0407-3d80-9a09-c69be858db75",
          "instanceIdentifier": "d9f93cb9-a394-1106-eb90-9448e33d0ca6",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "fb757b90-a413-3057-8de7-33b0dc21f854",
        "instanceIdentifier": "d9f93cba-a394-1106-7b25-7e0f60c2eb15",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "569bb4d0-451f-3c75-a4aa-fb709e0b27d2",
          "instanceIdentifier": "d9f93cb8-a394-1106-efed-b842f90b0caa",
          "name": "GenerateFlowFile",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [
          {
            "x": 848,
            "y": 345
          }
        ],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "4487ab2b-f069-3d3e-aca6-801fb8561fcd",
          "instanceIdentifier": "d9f93d00-a394-1106-357f-f6fd8d54ad66",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "6aef3634-4f47-3c0e-bba1-9e105d5695a5",
        "instanceIdentifier": "d9f93cff-a394-1106-1af4-07d2de3d2989",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "failure"
        ],
        "source": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "d0938965-0407-3d80-9a09-c69be858db75",
          "instanceIdentifier": "d9f93cb9-a394-1106-eb90-9448e33d0ca6",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "f5edac16-9bb7-33ab-8661-67617b4a2431",
          "instanceIdentifier": "d9f93cbb-a394-1106-0470-d762809e3090",
          "name": "LogAttribute",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "5a254018-da9d-31af-9e9f-92f7901f814c",
        "instanceIdentifier": "d9f93cc2-a394-1106-47da-d490db697200",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "6539172a-3a31-3f13-b722-c5927cd7ec71",
          "id": "d0938965-0407-3d80-9a09-c69be858db75",
          "instanceIdentifier": "d9f93cb9-a394-1106-eb90-9448e33d0ca6",
          "name": "ConvertRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "db4785e6-6ec6-3e9d-9eb1-a5eaca5803fd",
        "instanceIdentifier": "d9f93cbe-a394-1106-20aa-06b3a388f4d7",
        "name": "JsonRecordSetWriter",
        "properties": {
          "Allow Scientific Notation": "false",
          "compression-level": "1",
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Allow Scientific Notation": {
            "displayName": "Allow Scientific Notation",
            "identifiesControllerService": false,
            "name": "Allow Scientific Notation",
            "sensitive": false
          },
          "compression-level": {
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "name": "compression-level",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Pretty Print JSON": {
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "name": "Pretty Print JSON",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "suppress-nulls": {
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "name": "suppress-nulls",
            "sensitive": false
          },
          "output-grouping": {
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "name": "output-grouping",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.28.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "bd41c65a-0c79-3f5f-b58e-80edac34951e",
        "instanceIdentifier": "d9f93cbd-a394-1106-e947-5807f53b8658",
        "name": "JsonTreeReader",
        "properties": {
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-access-strategy": "infer-schema",
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "schema-application-strategy": {
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "name": "schema-application-strategy",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "schema-inference-cache": {
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "name": "schema-inference-cache",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "starting-field-strategy": {
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "name": "starting-field-strategy",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "starting-field-name": {
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "name": "starting-field-name",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "Allow Comments": {
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "name": "Allow Comments",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonTreeReader"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [],
    "identifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
    "inputPorts": [],
    "instanceIdentifier": "d9f93cb7-a394-1106-23ab-00388167c3ac",
    "labels": [],
    "name": "FlowMultipleVersions",
    "outputPorts": [],
    "position": {
      "x": 776,
      "y": 1360
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "94ae0c55-ab87-3217-b706-20bea055ec7f",
        "instanceIdentifier": "d9f93cc3-a394-1106-175a-6cd2b0418cf4",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 312,
          "y": 560
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "5841e277-40ca-34a2-9df0-1877d28ab5ac",
        "instanceIdentifier": "27305314-f099-3b2b-83f2-9505e334dd13",
        "maxBackoffPeriod": "10 mins",
        "name": "GenerateFlowFile",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1008,
          "y": 64
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "generate-ff-custom-text": "Sample data",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "File Size": {
            "displayName": "File Size",
            "identifiesControllerService": false,
            "name": "File Size",
            "sensitive": false
          },
          "mime-type": {
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "name": "mime-type",
            "sensitive": false
          },
          "generate-ff-custom-text": {
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "name": "generate-ff-custom-text",
            "sensitive": false
          },
          "Batch Size": {
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "name": "Batch Size",
            "sensitive": false
          },
          "Unique FlowFiles": {
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "name": "Unique FlowFiles",
            "sensitive": false
          },
          "Data Format": {
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "name": "Data Format",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "d0938965-0407-3d80-9a09-c69be858db75",
        "instanceIdentifier": "d9f93cb9-a394-1106-eb90-9448e33d0ca6",
        "maxBackoffPeriod": "10 mins",
        "name": "ConvertRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 360,
          "y": 344
        },
        "properties": {
          "record-writer": "db4785e6-6ec6-3e9d-9eb1-a5eaca5803fd",
          "record-reader": "bd41c65a-0c79-3f5f-b58e-80edac34951e",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "name": "include-zero-record-flowfiles",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "f5edac16-9bb7-33ab-8661-67617b4a2431",
        "instanceIdentifier": "d9f93cbb-a394-1106-0470-d762809e3090",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 984,
          "y": 368
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "4487ab2b-f069-3d3e-aca6-801fb8561fcd",
        "instanceIdentifier": "d9f93d00-a394-1106-357f-f6fd8d54ad66",
        "maxBackoffPeriod": "10 mins",
        "name": "LogAttribute",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 816,
          "y": 584
        },
        "properties": {
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "name": "Log prefix",
            "sensitive": false
          },
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "name": "Log FlowFile Properties",
            "sensitive": false
          },
          "Log Level": {
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "name": "Log Level",
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-ignore-regex",
            "sensitive": false
          },
          "Attributes to Ignore": {
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "name": "Attributes to Ignore",
            "sensitive": false
          },
          "Attributes to Log": {
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "name": "Attributes to Log",
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "name": "attributes-to-log-regex",
            "sensitive": false
          },
          "Output Format": {
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "name": "Output Format",
            "sensitive": false
          },
          "Log Payload": {
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "name": "Log Payload",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.28.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "6539172a-3a31-3f13-b722-c5927cd7ec71",
        "identifier": "569bb4d0-451f-3c75-a4aa-fb709e0b27d2",
        "instanceIdentifier": "d9f93cb8-a394-1106-efed-b842f90b0caa",
        "maxBackoffPeriod": "10 mins",
        "name": "GenerateFlowFile",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 352,
          "y": 48
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "generate-ff-custom-text": "{\"id\":1,\"name\":\"ksolves-data\"}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "character-set",
            "sensitive": false
          },
          "File Size": {
            "displayName": "File Size",
            "identifiesControllerService": false,
            "name": "File Size",
            "sensitive": false
          },
          "mime-type": {
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "name": "mime-type",
            "sensitive": false
          },
          "generate-ff-custom-text": {
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "name": "generate-ff-custom-text",
            "sensitive": false
          },
          "Batch Size": {
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "name": "Batch Size",
            "sensitive": false
          },
          "Unique FlowFiles": {
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "name": "Unique FlowFiles",
            "sensitive": false
          },
          "Data Format": {
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "name": "Data Format",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "parameterContexts": {},
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "anonymous",
    "bucketIdentifier": "DFM_Testing",
    "comments": "Version2",
    "flowIdentifier": "FlowMultipleVersions1",
    "link": {
      "href": "buckets/033d219e-9ef9-4b36-bc0d-6777188fba78/flows/4902ed61-32ec-4fce-a0de-8a25a0afb633/versions/2",
      "params": {
        "rel": "content"
      }
    },
    "timestamp": 1760429338843,
    "version": 2
  }
}